{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>

{% endif %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
        <br>


        <a class="btn btn-success btn-lg" href="{{ 'home' }}">Entrar que ya Estas Logueado </a>
        <br>
        <br>
        <br>

    {% else %}

        <form action="{{ path("fos_user_security_check") }}" method="post">

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <br>
            {% endif %}
            <br>
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" class="form-control" id="password" name="_password" required="required" />
            </div>
            <div class="checkbox">


                <label for="remember_me"> <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            <br>
            <br>
            {#<ul>#}

                    {#<a class="heading bold style-message btn btn-success" href="{{ path('fos_user_resetting_request') }}">Olvidaste tu contraseña? haz click aqui</a>#}

            {#</ul>#}
        </form>





    {% endif %}

