{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link
    rel="stylesheet" href="{{ asset('favicon.ico') }}"/>
    {# <link rel="stylesheet" href="{{ asset('assets/css/bootstrapFOS.css') }}"/> #}
    <link rel="stylesheet" href="{{ asset('assets/dist/css/bootstrap.min.css') }}"/>

    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/datatables/bootstrap4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/datatables/select.min.js') }}"></script>


    <script src="{{ asset('assets/dist/js/tether.min.js') }}"></script>
    <script src="{{ asset('assets/dist/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/dist/js/bootstrap.min.js') }}"></script>


{% endblock %}

{% block title %}INICIO
{% endblock %}
{% block menu %}{% endblock %}

{% block submenu %}{% endblock %}

{% block body %}
    <style>
        /* CSS general */
        .mi-iframe {
            width: 100px;
            height: 50px;
        }

        /* CSS pantallas de 320px o superior */
        @media(min-width: 320px) {

            .mi-iframe {
                width: 200px;
                height: 150px;
            }

        }

        /* CSS pantalla 768px o superior */
        @media(min-width: 768px) {

            .mi-iframe {
                /* width: 550px;*/


                height: 800px;
            }

        }
    </style>
    <button class="btn " data-target="#exampleModalCenter" data-toggle="modal" type="button">
        x
    </button>


    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenter" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div
                    class="modal-header">{# <h5 class="modal-title" id="exampleModalLongTitle">LOGIN</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button> #}
                </div>
                <div class="modal-body">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                        <br>


                        <a class="btn btn-success btn-lg" href="{{ 'home' }}">Entrar que ya Estas Logueado
                        </a>
                        <br>
                        <br>
                        <br>

                    {% else %}


                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="checkbox mb-3">You are logged in as
                                    {{ app.user.username }},
                                    <a href="{{ path('app_logout') }}">Logout</a>
                                {% endif %}

                                <h1 class="h3 mb-3 font-weight-normal">Acceso Restringido</h1>
                                <label class="sr-only" for="inputUsername">Usuario</label>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="User" required autofocus>
                                <br>
                                <label class="sr-only" for="inputPassword">Password</label>
                                <input class="form-control" id="inputPassword" name="password" placeholder="Pass" required type="password">

                                <input
                                type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                                {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                                                                    See https://symfony.com/doc/current/security/remember_me.html #}

                                <div class="checkbox mb-3">
                                    <label>
                                        <input name="_remember_me" type="checkbox">
                                        Recuerdame
                                    </label>
                                </div>


                                <button class="btn btn-lg btn-primary" type="submit">
                                    Entrar
                                </button>
                            </form>
                        {% endif %}

                    </div>
                    {# <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>

                                    </div> #}
                </div>
            </div>
        </div>

        <iframe class="mi-iframe" src="https://www.puntal.com.ar/" style="width:100%;margin-left: auto;margin-right:auto; ">
            <p>Your browser does not support iframes.</p>
        </iframe>


    {% endblock %}
