{% extends 'base.html.twig' %}


{% block body %}


    <div class="row">

        <div class="col-12 col-lg-1" >
        </div>
        <div class="col-12 col-lg-10" >



            <form method="post" action="{{ path('sinmo') }}" >
                <div class="form-group">
                    <label for="exampleInputEmail1"> Inmobiliario</label>
                    <input type="text" class="form-control text-uppercase" id="exampleInputEmail1" aria-describedby="emailHelp" name="inmo" placeholder="Ingresá el número de cuenta">
                    <small id="emailHelp" class="form-text text-muted">Insertar Cuenta</small>
                </div>
                {#<div class="form-group">#}
                {#<label for="exampleInputPassword1">Password</label>#}
                {#<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
                {#</div>#}
                {#<div class="form-check">#}
                {#<input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                {#<label class="form-check-label" for="exampleCheck1">Check me out</label>#}
                {#</div>#}
                <button type="submit" value="submit" class="btn btn-primary">Consultar Deuda</button>
            </form>

        </div>
    </div>
    <div class="col-12 col-lg-1" >
    </div>
    </div>
{% endblock %}