{% extends 'base.html.twig' %}


{% block body %}


<div class="row">

    <div class="col-12 col-lg-2" >
    </div>
    <div class="col-12 col-lg-8" >

        <img src="{{ asset('assets/imagenes/balsamo.png') }}" class="img-fluid mx-auto d-block rounded " alt="Responsive image">
        {#<button class="btn btn-danger btn-block"> 1212</button>#}
    </div>
    </div>
    <div class="col-12 col-lg-2" >
    </div>
</div>
{% endblock %}