{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    <h1>Editar {{ entity_singularized|capitalize }} </h1>

    {{ '{{ form_start(edit_form) }}' }}
        {{ '{{ form_widget(edit_form) }}' }}
    <div class="btn-group">
        <input class="btn btn-primary" type="submit" value="Editar" />
        {{ '{{ form_end(edit_form) }}' }}
        {% set hide_edit, hide_delete = true, false %}
        {{ include('crud/views/others/record_actions.html.twig.twig') -}}
    </div>



{{ "{% endblock %}" }}
{% endblock body %}
