{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    <h1>Creación de {{ entity_singularized|capitalize }}</h1>

    {{ '{{ form_start(form) }}' }}
        {{ '{{ form_widget(form) }}' }}
    <div class="btn-group">
        <input class="btn btn-primary" type="submit" value="Crear" />
        {% set hide_edit, hide_delete = true, true %}
        {{ include('crud/views/others/record_actions.html.twig.twig') -}}
    </div>
    {{ '{{ form_end(form) }}' }}


{{ "{% endblock %}" }}
{% endblock body %}
