{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{#{% block fos_user_content %}#}
{#{% include "FOSUserBundle:Profile:edit_content.html.twig" %}#}
{#{% endblock fos_user_content %}#}

{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}