{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{#{% block fos_user_content %}#}
{#{% include "FOSUserBundle:Profile:show_content.html.twig" %}#}
{#{% endblock fos_user_content %}#}
{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}