<style>

    /*tr.border_bottom th {*/
        /*border-bottom:1pt solid black;*/
    /*}*/
</style>

{#{% extends 'base.html.twig' %}#}



{#<h1>Comprobanteweb</h1>#}

{#<table class="table">#}
    {#<tbody>#}
    {#<tr>#}
        {#<th>Total</th>#}
        {#<td>{{ comprobanteweb.Total }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Id</th>#}
        {#<td>{{ comprobanteweb.id }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Comp_nomen</th>#}
        {#<td>{{ comprobanteweb.compNomen }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Comp_cuenta</th>#}
        {#<td>{{ comprobanteweb.compCuenta }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Compr_pernombre</th>#}
        {#<td>{{ comprobanteweb.comprPernombre }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Comp_perdomicilio</th>#}
        {#<td>{{ comprobanteweb.compPerdomicilio }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Comp_numero</th>#}
        {#<td>{{ comprobanteweb.compNumero }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Comp_fecha</th>#}
        {#<td>{{ comprobanteweb.compFecha }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Comp_timestamp</th>#}
        {#<td>{{ comprobanteweb.createdAt ? comprobanteweb.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Comp_autorizacion</th>#}
        {#<td>{{ comprobanteweb.compAutorizacion }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Comp_mediodepago</th>#}
        {#<td>{{ comprobanteweb.compMediodepago }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Inmobiliario</th>#}
        {#<td>{{ comprobanteweb.inmobiliario ? 'Yes' : 'No' }}</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>Comp_fechavencimiento</th>#}
        {#<td>{{ comprobanteweb.compFechavencimiento }}</td>#}
    {#</tr>#}
    {#</tbody>#}
{#</table>#}
{#<br>#}
{# <hr> #}
<br>
<table cellpadding="2" cellspacing="0" >
    <thead>
    <tr >
        {#<th>Id</th>#}
        {#<th>Comp_id</th>#}
        {#<th>Cuotaid</th>#}
        <th style="border: 1px solid black;text-align: center;">Cuota Bimestral</th>
        <th style="border: 1px solid black;text-align: center;">Fecha Cuota</th>
        {#<th>Importe Hist</th>#}
        <th style="border: 1px solid black;text-align: center;">Importe Actualizado</th>
        {#<th>actions</th>#}

    </tr>

    </thead>

    <tbody>
    {% for detacompweb in detacompweb %}
        <tr>
            {#<td>{{ detacompweb.id }}</td>#}
            {#<td>{{ detacompweb.comprobante }}</td>#}
            {#<td>{{ detacompweb.idcuota }}</td>#}
            <td style="text-align: center;">{{ detacompweb.detalle}}</td>
            <td style="text-align: center;">{{ detacompweb.fvoriginal }}</td>
            {#<td>{{ detacompweb.importehitorico}}</td>#}
<td style="text-align: center;">$
    {{ detacompweb.importeactualizado|number_format(2, '.', ',') }}</td> 

        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
{#<hr>#}
{#<br>#}

{#<h3>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h3>#}

