<style>

    /*tr.border_bottom th {*/
        /*border-bottom:1pt solid black;*/
    /*}*/
</style>


{# <hr> #}
<br>
<table cellpadding="2" cellspacing="0" >
    <thead>
    <tr >
        {#<th>Id</th>#}
        {#<th>Comp_id</th>#}
        {#<th>Cuotaid</th>#}
        <th style="border: 1px solid black;text-align: center;">Cuota Mensual</th>
        <th style="border: 1px solid black;text-align: center;">Fecha Cuota</th>
        {#<th>Importe Hist</th>#}
        <th style="border: 1px solid black;text-align: center;">Importe Actualizado</th>
        {#<th>actions</th>#}

    </tr>

    </thead>

    <tbody>
    {% for detacompweb in detacompweb %}
        <tr>
            {#<td>{{ detacompweb.id }}</td>#}
            {#<td>{{ detacompweb.comprobante }}</td>#}
            {#<td>{{ detacompweb.idcuota }}</td>#}
            <td style="text-align: center;">{{ detacompweb.detalle}}</td>
            <td style="text-align: center;">{{ detacompweb.fvoriginal }}</td>
            {#<td>{{ detacompweb.importehitorico}}</td>#}
              <td style="text-align: center;">$ {{ detacompweb.importeactualizado|number_format(2, '.', ',') }}</td>

        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
{#<hr>#}
{#<br>#}

{#<h3>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h3>#}

