 {% if comprobante.TcmpId == 31 %}
        <h3>Presupuesto</h3>
    {% elseif comprobante.TcmpId == 33 %}
        <h3>Devolucion</h3>
    {% endif %}



    <table cellpadding="2" cellspacing="0" >
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ comprobante.id }}</td>
            </tr> #}
            <tr style="text-align: right;">
                 
               <th>Numero : {{ comprobante.compNumero }}</th> <th>Fecha : {{ comprobante.compFecha ? comprobante.compFecha|date('d-m-Y') : '' }}</th>
          
            </tr>
     
          </tbody>
        <tbody>
         
            <tr>
                <th style="width: 200%" >     <span style="font-weight: bold;">Cliente :</span> {{ comprobante.Cliente }}</th>
                
            </tr>


        </tbody>
    </table>
    <br>
    <hr>
<h3>Detalle</h3>

<table class="" cellpadding="0" cellspacing="0" style="max-width: 100%"  >
    <thead>
        <tr>
            <th style="border: 1px solid black;text-align: center; width: 10%;">Cantidad</th>

            {# <th>Id</th> #}
            {# <th>ProdId</th> #}
             <th style="border: 1px solid black;text-align: center;width: 42%;">Articulo</th>
             <th style="border: 1px solid black;text-align: center;width: 15%;">PVP</th>
             <th style="border: 1px solid black;text-align: center; width: 15%;">Desc</th>
{# <th>ProdImpdto</th>  #}

             <th style="border: 1px solid black;text-align: center;width: 18%">SubTotal</th> 

        </tr>
    </thead>

    <tbody>
        {% for detacomp_fac in detacomp_facs %}
            <tr>
 <td style="text-align: center;width: 10%;">{{ detacomp_fac.prodCant  }}</td>

                {# <td>{{ detacomp_fac.id }}</td> #}
                {# <td>{{ detacomp_fac.prodId }}</td> #}
              <td style="text-align: center;width: 42%;">{{ detacomp_fac.prodDescri }}</td>
 <td style="text-align: center; width: 15%">$
    {{ detacomp_fac.prodPvp| number_format(2) }}</td>

 <td style="text-align: center; width: 15%">$
    {{ detacomp_fac.prodCant  * detacomp_fac.prodImpdto | number_format(2)}}</td>



{# <td>{{ detacomp_fac.prodImpdto }}</td>#}


 <td style="text-align: center; width: 18%">$ {{ (detacomp_fac.prodCant  * (detacomp_fac.prodPvp - detacomp_fac.prodImpdto)) | number_format(2) }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
 <br><br><br><br>
    
    <table>
<tbody>
<tr>
            <th ></th>

            {# <th>Id</th> #}
            {# <th>ProdId</th> #}
             <th ></th>
           <th ></th>
           <th ></th>
{# <th>ProdImpdto</th>  #}
{% if  comprobante.compCtacte  == 0 %}
    <th style="border: 1px solid black;text-align: center;">Total : $ {{ comprobante.compTotal }}</th> 
    {% else %}

         <th style="border: 1px solid black;text-align: center;"># Total : $ {{ comprobante.compSaldo }}</th> 
{% endif %}
             

        </tr>
</tbody>

    </table>
     <br><br>
    {# <hr> #}
    {# <h4> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </h4> #}



 

