

<h3>Recibo</h3>

    <table cellpadding="2" cellspacing="0" >
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ comprobante.id }}</td>
            </tr> #}
            <tr style="text-align: right;">
                 
               <th>Numero : {{ comprobante.compNumero }}</th> <th>Fecha : {{ comprobante.compFecha ? comprobante.compFecha|date('d-m-Y') : '' }}</th>
          
            </tr>
     
          </tbody>
        <tbody>
         
            <tr>
                <th style="width: 200%" >     <span style="font-weight: bold;">Cliente :</span> {{ comprobante.Cliente }}</th>
                
            </tr>


        </tbody>
    </table>
    <br>
    <hr>
<table class="table">
        <thead>
            <tr >
                
                 <th style="border: 1px solid black;text-align: center;width:40%">Concepto</th>
              
              
                 <th style="border: 1px solid black;text-align: center;width: 40%">Obsevacion</th>
               <th style="border: 1px solid black;text-align: center;width: 20%">Importe</th>
            </tr>
        </thead>
        <tbody>
        {% for detacomp_rec in detacomp_recs %}
            <tr>
                
               <td style="text-align: center; width:40%">{{ detacomp_rec.decoConcepto }}</td>
                
                
               <td style="text-align: center; width: 40%">{{ comprobante.compObservaciones }}</td>
               <td style="text-align: center; width: 20%">$ {{ detacomp_rec.importe | number_format(2) }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


 <br><br><br><br>
    
    <table>
<tbody>
<tr>
            <th ></th>

            {# <th>Id</th> #}
            {# <th>ProdId</th> #}
             <th ></th>
           <th ></th>
           <th ></th>
{# <th>ProdImpdto</th>  #}
{% if  comprobante.compCtacte  == 0 %}
    <th style="border: 1px solid black;text-align: center;">Total : $ {{ comprobante.compTotal }}</th> 
    {% else %}

         <th style="border: 1px solid black;text-align: center;"># Total : $ {{ comprobante.compSaldo }}</th> 
{% endif %}
             

        </tr>
</tbody>

    </table>
     <br><br>
    {# <hr> #}
    {# <h4> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </h4> #}
