{% extends 'base.html.twig' %}

{% block title %}Edit Comproprovee{% endblock %}

{% block body %}
    <h1>Edit Comproprovee</h1>

    {{ include('comproprovee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comproprovee_index') }}">back to list</a>

    {{ include('comproprovee/_delete_form.html.twig') }}
{% endblock %}
