{% extends 'base.html.twig' %}

{% block title %}General
{% endblock %}

{% block body %}
<script type="text/javascript">

</script>

<h3>General De Saldos </h3>
 <table id="table2" class="table  table-striped display dt-responsive">
    <thead>
        <tr>
    


	<th class="text-center">ID</th>

	 <th class="text-center">PROVEEDOR</th>

<th class="text-center" >U MOV</th>
	      
	<th class="text-center">DEBE</th>

	<th class="text-center">HABER</th>

	<th class="text-center" >SALDO</th>
	<th class="text-center" >Acciones</th>

	      
	

        
    </tr>
</thead>
            <tbody>
            {% for uno in unos %}
                <tr>
                

             	<td class="text-center">{{ uno.ID}}</td>
				<td class="text-center">{{ uno.PROVEEDOR }}</td>
                <td class="text-center">{{ uno.MOVIMIENTO ?  uno.MOVIMIENTO|date('d-M-Y') : 'SIN'}}</td>
				<td class="text-right">{{ uno.DEBE}}</td>
				<td class="text-right">{{ uno.HABER }}</td>
				<td class="text-right">{{ uno.SALDO}}</td>
				<td class="text-center">
                <button class="btn-secondary" onclick="c( {{ uno.ID}} , '{{ uno.PROVEEDOR }}' ) ">VER</button> 
                  </td>
             
                </tr>
            {% else %}
                <tr>
                    <td colspan="20">Sin Datos</td>
                </tr>
            {% endfor %}

   </tbody> 
    <tfoot>
    <tr>
   
     <th class="text-center">ID</th>

     <th class="text-center">PROVEEDOR</th>

<th class="text-center" >U MOV</th>
          
    <th class="text-center">DEBE</th>

    <th class="text-center">HABER</th>

    
    <th class="text-center" >SALDO</th>
    <th class="text-center" ><button id="ac" type="button" class="btn btn-outline-dark">Total</button></th>
    </tr>
  </tfoot>
</table>

<hr>




 <script>






       


$(document).ready(function() {
       

       var t1 =   $('#table2').DataTable({
       	 dom: 'Bfrtip',
        buttons: [
        {
            title: 'Proveedor GENERAL',
            extend: 'print',
            text: 'Imprimir',
            autoPrint: true,
            exportOptions: {
                 columns: [1,2,3,4,5],
             //     columns: {"targets": [0],
             //     "visible":false
             // },

                modifier: {
                    page: 'current'
                }
            },
            customize: function (win) {
                $(win.document.body).find('table').addClass('display').css('font-size', '16px');
                $(win.document.body).find('tr:nth-child(odd) td').each(function(index){
                    $(this).css('background-color','#D0D0D0');
                });
                $(win.document.body).find('h1').css('text-align','center');
            }
        
        },
       {
            title: 'Proveedor GENERAL',
            extend: 'pdfHtml5',
            text: 'PDF',
            orientation : 'portrait',
            pageSize : 'A4',
            exportOptions: {
                 columns: [1,2,3,4,5],
                modifier: {
                    page: 'current'
                }
            }
        },
          {
            title: 'Proveedor GENERAL',
            extend: 'excelHtml5',
            text: 'Excel',
            customize: function(xlsx) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
 
                // Loop over the cells in column `C`
               // $('row c[r^="C"]', sheet).each( function () {
                    // Get the value
                    // if ( $('is t', this).text() == 'New York' ) {
                    //     $(this).attr( 's', '20' );
                    // }
                //});
            }
        }
        ],
        "lengthMenu": [
                            [
                                -1
                            ],
                            [
                                "Todos"
                            ]
                        ],
       	 "searching": false,
            "order": [
                [1, "asc"]
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false

                }
            ],
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
    //         ,
    //         drawCallback: function () {
    //   var api = this.api();
    //   $( api.table().footer() ).html(
    //     api.column( 7, {page:'current'} ).data().sum()
    //   );
    // }
        });

          
        $('#ac').click( function () {
        	var total2 = t1.column( 5 ).data().sum();

            t1.row.add([
                                '99999999999999',
                                'zz',
                               '',
    
                               '',
                                'Total Saldo:',
                                total2,
                                '',
                               
    
    
                            ]).draw(false);


			Swal.fire(' Total : $'+total2.toFixed(2))
          
           $('#ac').attr("disabled", true);
        
        } );
  
					
		
		        

    });

// Cookies.remove('cliente_prov');


//             Cookies.set('cliente_prov', prov);
</script>
<script type="text/javascript">

    function c(a,b){
        Cookies.remove('cliente_id');
        Cookies.remove('cliente_nombre');
        Cookies.set('cliente_id', a);
        Cookies.set('cliente_nombre', b);
        var dd = "../cuenta/";
        var cc = dd + a;
        location.assign(cc); 
        // window.alert(a + b);

          

};
 

</script>

{% endblock %}
