{% extends 'base.html.twig' %}

{% block title %}Comproprovee index{% endblock %}

{% block body %}
    <h1>Comprobantes Proveedor</h1>
    {# <br>
      <a href="{{ path('comproprovee_new') }}">Create new</a>
    <hr> #}

    <table class="table table-striped display dt-responsive " id="data">
        <thead>
            <tr>
                <th>Id</th>
             {#    <th>MepaId</th> #}
                <th>Fecha</th>
                {# <th>Ctacte</th> #}
                <th>Nº Compr</th>
                {# <th>CompLetra</th> #}
               {#  <th>Subtotal</th>
                <th>DescPctje</th>
                <th>Descuento</th>
                <th>Neto</th>
                <th>Perceiva</th>
                <th>Perceibrut</th>
                <th>Otroimpuesto</th>
                <th>AivaId</th>
                <th>CompTotiva</th> #}
                <th>Total</th>{# 
                <th>Observaciones</th> #}
                {# <th>Apropiado</th>
                <th>LogiId</th>
                <th>Saldo</th>
                <th>FechaVenc</th>
                <th>CompFechacarga</th>
                <th>MesImpfiscal</th>
                <th>AnioImpfiscal</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comproprovee in comproprovees %}
            <tr>
                <td>{{ comproprovee.id }}</td>
                {# <td>{{ comproprovee.mepaId }}</td> #}
                <td>{{ comproprovee.fecha? comproprovee.fecha|date('d-m-Y') : '' }}</td>
                {# <td>{{ comproprovee.ctacte ? 'SI' : 'No' }}</td> #}
                <td>{{ comproprovee.pdvynumero }}</td>
                {# <td>{{ comproprovee.compLetra }}</td> #}
                {# <td>{{ comproprovee.subtotal }}</td> #}
                {# <td>{{ comproprovee.descPctje }}</td> #}
                {# <td>{{ comproprovee.descuento }}</td> #}
                {# <td>{{ comproprovee.neto }}</td> #}
                {# <td>{{ comproprovee.perceiva }}</td> #}
                {# <td>{{ comproprovee.perceibrut }}</td> #}
                {# <td>{{ comproprovee.otroimpuesto }}</td> #}
                {# <td>{{ comproprovee.aivaId }}</td> #}
                {# <td>{{ comproprovee.compTotiva }}</td> #}
                <td>$ {{ comproprovee.total | number_format(2)}}</td>
                {# <td>{{ comproprovee.observaciones }}</td> #}
              {#   <td>{{ comproprovee.apropiado ? 'Yes' : 'No' }}</td>
                <td>{{ comproprovee.logiId }}</td>
                <td>{{ comproprovee.saldo }}</td>
                <td>{{ comproprovee.fechaVenc }}</td>
                <td>{{ comproprovee.compFechacarga }}</td>
                <td>{{ comproprovee.mesImpfiscal }}</td>
                <td>{{ comproprovee.anioImpfiscal }}</td> #}
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('comproprovee_show', {'id': comproprovee.id}) }}">Ver</a>
                    {# <a href="{{ path('comproprovee_edit', {'id': comproprovee.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="25">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
    <script>
    $(document).ready(function () {
        $('#data').DataTable({
            "order": [
                [0, "ASC"]
            ],
            // "columnDefs": [
            //     {
            //         "targets": [0],
            //         "visible": false,
            //         "searchable": false

                // } ,
                //     {
                //       "targets": [4 ,2,6],
                //        "visible": true,
                //       "searchable": false
                //    }
                //    ,
                //     {
                //       "targets": [1,3,5 ],
                //        "visible": true,
                //       "searchable": true
                //    }
            // ],
            responsive: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }

        });
    });
</script>
{% endblock %}
