{% extends 'base.html.twig' %}

{% block body %}
<div
    class="row">
    {# <div class="col-1"></div> #}
    <div class="col-md-4 order-md-2 order-mb-2 mb-4">

       {#  <button aria-controls="collapseOne" aria-expanded="true" class="btn  btn-success btn-block" data-target="#collapseOne" data-toggle="collapse" type="button">


            Pedido
        </button> #}


        <hr>

  <h4>
                            <label>Fecha</label>
                        </h4>
                        <input class="form-control" id="fecha" name="fecha" required="required" style="border-color: blue" type="text" value="">
                        <br>
                        <h4>
                            <label>Fecha Vencimeinto</label>
                        </h4>
                        <input class="form-control" id="fecha2" name="fecha" required="required" style="border-color: blue" type="text" value="">
                        <br>


       
        
        <h5>
            <label>Total:</label>
        </h5>
        <input class="form-control" id="total" name="total" required="required" style="border-color: blue;text-align: center;font-weight: bold;font-size: x-large;" type="text" value="">
<br>
 <h4>
                            <br>
                            <label for="cventa">Condicion de Venta :</label>
                        </h4>
                        <select class="form-control" id="cventa" style="border-color: blue">
                            <option selected value="0">CONTADO</option>
                            <option value="1">CUENTA CORRIENTE</option>
                        </select>

                        <br>

        <hr>
        <input class="btn  btn-primary btn-block " id="btnCrear" type="button" value="Finalizar Pedido">


        <hr>


    </div>

    <div class="col-8">

      


        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header alert-success" id="headingOne">
                    <h2 class="mb-0"></h2>
                </div>

                <div aria-labelledby="headingOne" class=" show" data-parent="#accordionExample" id="collapseOne">
                    <div class="card-body">
                        

                        <h4>
                            <label>Proveedor</label>
                        </h4>

                        <input class="form-control" hidden id="ID" name="ID" readonly required="required" style="border-color: blue" type="text" value="">
                        <button type="button" class="btn btn-block " data-target="#modal_cliente" data-toggle="modal" >
                            <input class="form-control" id="nombre" name="nombre" readonly required="required" style="border-color: blue" type="text" value="">
                        </button>
                        <br>
                        
                       
                         <h4>
                            <br>
                            <label for="cventa">Tipo Comprobante :</label>
                        </h4>
                        <select class="form-control" id="tcomp" style="border-color: blue">
                            <option selected value="31">NOTA de PEDIDO (Remito)</option>
                            <option value="33">NOTA de CREDITO</option>
                             <option value="25">ORDEN DE PAGO (Recibo)</option>
                        </select>
                         <br>
                        <h4>
                            <label>Comprobante Nº</label>
                        </h4>
                        <input class="form-control" id="numero" name="numero" required="required" style="border-color: blue" type="text" value="">

                        <br>

                        <h4>
                            <label>Observaciones :</label>
                        </h4>

                        <textarea class="form-control" id="observ" name="observ" rows="2" style="border-color: blue" type="text"></textarea>
                        <br>

                    </div>


                </div>

            </div>
           <hr>
        </div>

       



        

      
      


            <div class="row"> <div class="col-2 ">
                <br>


            </div>
            <div class="col-8"></div>

            <div class="col-2">
                <br>
        <div aria-hidden="true" aria-labelledby="modalLabel" class="modal " id="modal_cliente" role="dialog" tabindex="-1"> 
            <div class="modal-dialog modal-lg "> 
                <div class="modal-content"> 

                <div class="modal-header breadcrumb"> 
                <h3>Seleccionar un Proveedor</h3>
{# <button class="close" data-dismiss="modal" type="button"> 
                    <span class="sr-only">Cerrar</span>
                </button> #}

            </div>
        


            <table class="table   table-bordered nowrap" id="datatable" style="width:100%">


                <thead>
                    <tr>
                        <th>Num</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for persona in personas %}
                        <tr>
                            <td>{{ persona.nrolegajo }}</td>

                            <td>{{ persona.nombre }}</td>


                            <td>{{ persona.direccion }}</td>


                            <td>
                                <a class="btn btn-outline-primary" data-dismiss="modal" href="#" onclick="clie({{ persona.id }}, '{{  persona.nrolegajo }} - {{  persona.nombre }} - {{  persona.direccion }}')">selec</a>


                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <div aria-label="group button" class="btn-group btn-group" role="group">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" data-dismiss="modal" role="button" type="button">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>
<script>function changeHandler(val) {
    if (Number(val.value) > 100) {
        val.value = 100
    }
    if (Number(val.value) < 0) {
        val.value = 0
    }

}
</script>
<script>$(document).ready(function () {


    // $('.pedido').modal('show');
    // $('#pedido').modal('hide');
    $('#total').val('0.00');
    $('#cantidad').val('1');
    $('#pesdesc').val('0.00');
    //            $('#tres').hide();
    //            $('#dos').hide();
    // setTimeout(function(){

    // }, 800);
});

</script>

<script>function clie(id, n) { //           alert('hola');
    document.getElementById('ID').value = id;
    document.getElementById('nombre').value = n;
    // $("#dos").show();
    // $("#uno").hide();
    // $("#tres").hide();
    // swal("Seleccionar Condicion de VENTA", "No Olvidar");
    // swal({
    // title: "Seleccionar Condicion de VENTA",
    // text: "No OLVIDAR",
    // icon: "warning",
    // button: "OK",
    // dangerMode: true,
    // })

    // $("#cliente_nomb").show();

    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-warning'
        },
        buttonsStyling: false
    })

    swalWithBootstrapButtons.fire({
        title: 'Seleccionar Condicion de VENTA',
        // text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'CONTADO',
        cancelButtonText: 'CTACTE',
        reverseButtons: true
    }).then((result) => {
        if (result.value) {
            document.getElementById('cventa').value = '0';
            swalWithBootstrapButtons.fire('Contado', 'Condicion de Venta Contado.', 'success')
        } else if (
            // Read more about handling dismissals
                result.dismiss === Swal.DismissReason.cancel
        ) {
            document.getElementById('cventa').value = '1';
            swalWithBootstrapButtons.fire('CTACTE', 'Condicion de Venta Ctacte.', 'success')
        }
    });
    // $('.collapse').collapse();

}</script>
<script>$(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    var data = $('#datatable').DataTable({
        "columnDefs": [
            {
                "targets": [2],
                "visible": false
            }
        ],

        "iDisplayLength": 200,
        destroy: true,
        responsive: true,
        // select: true,


        language: {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }

    });
    // data.column(3).search($('#sel1').val()).draw();

    // $("#sel1").change(function () {
    //     var i = 3;
    //     data.column(i).search($('#sel1').val()).draw();
    // });
});</script><script>
$(function () { // fecha de datepicker por defecto le paso la de hoy
    $("#fecha").datepicker();

    $("#fecha").datepicker("option", "dateFormat", 'yy-mm-dd');
    $("#fecha").datepicker('setDate', new Date());
     $("#fecha2").datepicker();

    $("#fecha2").datepicker("option", "dateFormat", 'yy-mm-dd');
    $("#fecha2").datepicker('setDate', new Date());
});
//         </script>
 <script>
    $(document).ready(function () {

                $("#total").keydown(function (e) { // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [
                        46,
                        8,
                        9,
                        27,
                        13,
                        110,
                        190
                    ]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                        (e.keyCode >= 35 && e.keyCode <= 40)) { // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });
    
    
                    $('#btnCrear').click(function () { // 
                        $('#btnCrear').attr("disabled", true);
    
                        // var datos = t2.rows().data();
                        var idclie = document.getElementById("ID").value;
                        var ctotal = document.getElementById("total").value;
                    if ((ctotal != '') && ('' != idclie)) {
            
                        var observ = document.getElementById("observ").value;
                        var cfecha = document.getElementById("fecha").value;
                        var cfecha2 = document.getElementById("fecha2").value;
                        var cventa = document.getElementById("cventa").value;
                        var tcomp = document.getElementById("tcomp").value;
                        var numero = document.getElementById("numero").value;
    
                            $.ajax({
                                url: "{{ path('comprove_nuevo') }}",
                                data: {
                                   
                                    ctotal: ctotal,
                                    observ: observ,
                                    cfecha: cfecha,
                                    cfecha2: cfecha2,
                                    idclie: idclie,
                                    cventa: cventa,
                                    tcomp: tcomp,
                                    numero: numero
                                   
                                },
                                type: "post",
                                dataType: "json",
                                success: function (data) { //                        $('#resp').html(data);
                                }
    
                            }).then(function (data) {
                               
                                var aa = "../comproprovee/";
                                var ab = aa + data.id;
                                
                                if (data.caja != 0) {
                                     var bb = "../cajadiaria/";
                                     var ac = bb + data.caja;
                                     location.assign(ac); // cuando termina lo lleva lista de servicio habria trer el ide para llevarlo al show

                                }else{

                                    location.assign(ab); // cuando termina lo lleva lista de servicio habria trer el ide para llevarlo al show
                                }
    
                                
    
    
                            });
                        } else {
                            $('#btnCrear').attr("disabled", false);
                            //window.alert('Faltan Datos, Completar');
                            Swal.fire({
                            type: 'error',
                                title: 'Faltan Datos',
                                footer: '<h2>Completar</h2>'
    
                            })
                        }
                    });
    
                  
                $('.dataTables_paginate').hide();
     });
                


</script>
<style>
    tbody tr.selected {
    font-weight : bold;
    color : green;
    /*box-shadow: 5px -5px 5px 5px #444;*/
    box-shadow: 5px 5px 25px #222 inset;
    /*//#000000;*/
    background - color : #003d4d;
   

    }
 </style>



{% endblock %}
