{% extends 'base.html.twig' %}

{% block title %}New Comproprovee{% endblock %}

{% block body %}
    <h1>Create new Comproprovee</h1>

    {{ include('comproprovee/_form.html.twig') }}

    <a href="{{ path('comproprovee_index') }}">back to list</a>
{% endblock %}
