{% extends 'base.html.twig' %}

{% block title %}Comprobante{% endblock %}

{% block body %}
    
 <script language="javascript">
        // function printdiv(printpage)
        // {
        //     var headstr = "<html><head><title></title></head><body>";
        //     var footstr = "</body>";
        //     var newstr = document.all.item(printpage).innerHTML;
        //     var oldstr = document.body.innerHTML;
        //     document.body.innerHTML = headstr+newstr+footstr;
        //     window.print();
        //     document.body.innerHTML = oldstr;
        //     return false;
        // }

        function PrintDiv(id) {
            var data=document.getElementById(id).innerHTML;
            var myWindow = window.open('', 'div_print', 'height=500,width=750');
            myWindow.document.write('<html><head><title>Comprobante  Proveedor</title>');
            /*optional stylesheet*/ //myWindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
            myWindow.document.write('</head><body >');
            myWindow.document.write(data);
            myWindow.document.write('</body></html>');
            myWindow.document.close(); // necessary for IE >= 10

            myWindow.onload=function(){ // necessary if the div contain images

                myWindow.focus(); // necessary for IE >= 10
                myWindow.print();
                myWindow.close();
            };
        }
 
    </script>
    <button onClick="PrintDiv('div_print')" class="btn btn-success float-right" role="button" aria-disabled="false"><span class="fas fa-print fa-3x">  </span></button>
{# <input type="button" value="Print Div" class="btn btn-success" onclick="PrintDiv('div_print')" /> #}
<div id="div_print">
    <h1>Comprobante  Proveedor</h1>
    {# {% if comproprovee.TcmpId == 31 %}
         <h1>Comprobante  NP</h1>
         <a class="btn  float-right" href="{{ path('pdfnp', {'id': comprobante.id}) }}" target="_blank">  <i class="fas fa-print fa-3x""></i></a>

    {% elseif comproprovee.TcmpId == 33 %}
          <h1>Comprobante  NC</h1>
          <a class="btn  float-right" href="{{ path('pdfnp', {'id': comprobante.id}) }}" target="_blank">  <i class="fas fa-print fa-3x""></i></a>

    {% elseif comproprovee.TcmpId == 32 %}
         <h1>Comprobante  Recibo</h1>
         <a class="btn  float-right" href="{{ path('pdfrec', {'id': comprobante.id}) }}" target="_blank">  <i class="fas fa-print fa-3x""></i></a>

    {% endif %} #}
   
 
    <table class="table" id="data">
        <tbody>
            {# <tr>s
                <th>Id</th>
                <td>{{ comprobante.id }}</td>
            </tr> #}
            <tr>
                <th style="text-align: right;">Numero : {{ comproprovee.pdvynumero }}</th>
                <th style="text-align: right;">Fecha : {{ comproprovee.fecha ? comproprovee.fecha|date('Y-m-d') : '' }}</th>
            </tr> 
             <tr>
                   <th>Proveedor: {{ comproprovee.Proveedor }}</th>
                <th style="text-align: right;">Fecha Vencimiento : {{ comproprovee.fechaVenc ? comproprovee.fechaVenc|date('Y-m-d') : '' }}</th>
            </tr> 
            {# <t #}
           
            {# <tr>
                <th>TcmpId</th>
                <td>{{ comprobante.TcmpId }}</td>
            </tr> #}
            {# <tr>
                <th>CompPdventa</th>
                <td>{{ comprobante.compPdventa }}</td>
            </tr> #}
            
            <tr>
            
                <th >Tipo Comprobante : {{ comproprovee.tipoComprobante }}</th>
                <th style="text-align: right;">CtaCte : {{ comproprovee.Ctacte ? 'Si' : 'No' }} </th>
            </tr>
          
            <tr>
                <th>Observaciones:  {{ comproprovee.observaciones }}</th>
                <th style="text-align: right;"> TOTAL : $ {{ comproprovee.total }}</th>
            </tr>
            <tr>
                <th></th>
                <th style="text-align: right;"> SALDO : $ {{ comproprovee.saldo }}</th>
            </tr>

      
        </tbody>
    </table>
    <hr>
    </div>
<script type="text/javascript">

$(document).ready(function() {
       

       var t1 =   $('#data').DataTable({
         dom: 'Bfrtip',
        buttons: [
        // {
        //     title: 'Comprobante Proveedor',
        //     extend: 'print',
        //     text: 'Imprimir',
        //     autoPrint: true,
        //     exportOptions: {
        //          columns: [0,1],
        //      //     columns: {"targets": [0],
        //      //     "visible":false
        //      // },

        //         modifier: {
        //             page: 'current'
        //         }
        //     },
        //     customize: function (win) {
        //         $(win.document.body).find('table').addClass('display').css('font-size', '16px');
        //         $(win.document.body).find('tr:nth-child(odd) td').each(function(index){
        //             $(this).css('background-color','#D0D0D0');
        //         });
        //         $(win.document.body).find('h1').css('text-align','center');
        //     }
        
        // },
       {
            title: 'Comprobante Proveedor',
            extend: 'pdfHtml5',
            text: 'PDF',
            orientation : 'portrait',
            pageSize : 'A4',
            exportOptions: {
                 columns: [0,1],
                modifier: {
                    page: 'current'
                }
            }
        }
     ]
     // ,
        // "lengthMenu": [
        //                     [
        //                         -1
        //                     ],
        //                     [
        //                         "Todos"
        //                     ]
        //                 ],
        //  // "searching": false,
        //  //    "order": [
        //  //        [1, "asc"]
        //  //    ],
        //     // "columnDefs": [
        //     //     {
        //     //         "targets": [0],
        //     //         "visible": false,
        //     //         "searchable": false

        //     //     }
        //     // ],
        //     responsive: true,
        //     language: {
        //         "sProcessing": "Procesando...",
        //         "sLengthMenu": "Mostrar _MENU_ registros",
        //         "sZeroRecords": "No se encontraron resultados",
        //         "sEmptyTable": "Ningún dato disponible en esta tabla",
        //         "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        //         "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        //         "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        //         "sInfoPostFix": "",
        //         "sSearch": "Buscar:",
        //         "sUrl": "",
        //         "sInfoThousands": ",",
        //         "sLoadingRecords": "Cargando...",
        //         "oPaginate": {
        //             "sFirst": "Primero",
        //             "sLast": "Último",
        //             "sNext": "Siguiente",
        //             "sPrevious": "Anterior"
        //         },
        //         "oAria": {
        //             "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
        //             "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        //         }
        //     }
    //         ,
    //         drawCallback: function () {
    //   var api = this.api();
    //   $( api.table().footer() ).html(
    //     api.column( 7, {page:'current'} ).data().sum()
    //   );
    // }
        });

          
        // $('#ac').click( function () {
        //     var total2 = t1.column( 5 ).data().sum();

        //     t1.row.add([
        //                         '99999999999999',
        //                         'zz',
        //                        '',
    
        //                        '',
        //                         'Total Saldo:',
        //                         total2,
        //                         '',
                               
    
    
        //                     ]).draw(false);


        //     Swal.fire(' Total : $'+total2.toFixed(2))
          
        //    $('#ac').attr("disabled", true);
        
        // } );
  
                    
        
                

    });
</script>



{% endblock %}
