{% extends 'base.html.twig' %}

{% block title %}Comproprovee{% endblock %}

{% block body %}
    <h1>Comproprovee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comproprovee.id }}</td>
            </tr>
            <tr>
                <th>MepaId</th>
                <td>{{ comproprovee.mepaId }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ comproprovee.fecha }}</td>
            </tr>
            <tr>
                <th>Ctacte</th>
                <td>{{ comproprovee.ctacte ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Pdvynumero</th>
                <td>{{ comproprovee.pdvynumero }}</td>
            </tr>
            <tr>
                <th>CompLetra</th>
                <td>{{ comproprovee.compLetra }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ comproprovee.subtotal }}</td>
            </tr>
            <tr>
                <th>DescPctje</th>
                <td>{{ comproprovee.descPctje }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ comproprovee.descuento }}</td>
            </tr>
            <tr>
                <th>Neto</th>
                <td>{{ comproprovee.neto }}</td>
            </tr>
            <tr>
                <th>Perceiva</th>
                <td>{{ comproprovee.perceiva }}</td>
            </tr>
            <tr>
                <th>Perceibrut</th>
                <td>{{ comproprovee.perceibrut }}</td>
            </tr>
            <tr>
                <th>Otroimpuesto</th>
                <td>{{ comproprovee.otroimpuesto }}</td>
            </tr>
            <tr>
                <th>AivaId</th>
                <td>{{ comproprovee.aivaId }}</td>
            </tr>
            <tr>
                <th>CompTotiva</th>
                <td>{{ comproprovee.compTotiva }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ comproprovee.total }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ comproprovee.observaciones }}</td>
            </tr>
            <tr>
                <th>Apropiado</th>
                <td>{{ comproprovee.apropiado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>LogiId</th>
                <td>{{ comproprovee.logiId }}</td>
            </tr>
            <tr>
                <th>Saldo</th>
                <td>{{ comproprovee.saldo }}</td>
            </tr>
            <tr>
                <th>FechaVenc</th>
                <td>{{ comproprovee.fechaVenc }}</td>
            </tr>
            <tr>
                <th>CompFechacarga</th>
                <td>{{ comproprovee.compFechacarga }}</td>
            </tr>
            <tr>
                <th>MesImpfiscal</th>
                <td>{{ comproprovee.mesImpfiscal }}</td>
            </tr>
            <tr>
                <th>AnioImpfiscal</th>
                <td>{{ comproprovee.anioImpfiscal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comproprovee_index') }}">back to list</a>

    <a href="{{ path('comproprovee_edit', {'id': comproprovee.id}) }}">edit</a>

    {# {{ include('comproprovee/_delete_form.html.twig') }} #}
{% endblock %}
