{#{% extends "FOSUserBundle::layout.html.twig"%}#}
 {# {% block stylesheets %}#}
     {#<link rel="stylesheet" href="{{ asset('favicon.ico') }}" />#}
     {#<link rel="stylesheet" href="{{ asset('asset/css/bootstrap.min.css') }}" />#}

 {#{% endblock %} #}
{#{% block fos_user_content %}#}
{#{% include "FOSUserBundle:Registration:register_content.html.twig" %}#}





{#{% endblock fos_user_content %}#}

{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% include "@FOSUser/Registration/register_content.html.twig" %}
    {% if is_granted("ROLE_ADMIN")%}
        <ul>
            <li>
                <a href="{{ path('usuarios_index') }}">Volverr</a>
            </li>
        </ul>
    {% endif %}
{% endblock fos_user_content %}