{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal col-lg-12'}}) }}

    {#{{ form_widget(form) }}#}

<div class="form-group" >
    <div class="col-md-4">
            {{ form_label(form.email)}}
    </div>
    {{ form_errors(form.email )}}
    {{ form_widget(form.email, { attr: { required: true  }}) }}
</div>
<div class="form-group" >
    <div class="col-md-4">
    {{ form_label(form.username)}}
    </div>
    {{ form_errors(form.username)}}
    {{ form_widget(form.username, { attr: { required: true }}) }}
</div>
<div class="form-group" >
    <div class="col-md-4">
        {{ form_label(form.plainPassword.first)}}
    </div>
    {{ form_errors(form.plainPassword.first)}}
    {{ form_widget(form.plainPassword.first, { attr: { required: true }}) }}
</div>
<div class="form-group" >
    <div class="col-md-4">
        {{ form_label(form.plainPassword.second)}}
    </div>
    {{ form_errors(form.plainPassword.second)}}
    {{ form_widget(form.plainPassword.second, { attr: { required: true }}) }}
</div>

<div>
    <input class="btn btn-primary btn-lg" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
