{% extends 'base.html.twig' %}

{% block title %}Banco index{% endblock %}

{% block body %}
    <h1>Bancos</h1>
    <br>
 <a class="btn btn-primary" href="{{ path('banco_new') }}">Crear Nuevo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for banco in bancos %}
            <tr>
                <td>{{ banco.id }}</td>
                <td>{{ banco.nombre }}</td>
                <td>
                   <a class="btn btn-primary btn-sm" href="{{ path('banco_show', {'id': banco.id}) }}">Ver</a>
                  <a class="btn btn-primary btn-sm"href="{{ path('banco_edit', {'id': banco.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
