{% extends 'base.html.twig' %}

{% block title %}Banco{% endblock %}

{% block body %}
    <h1>Banco</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ banco.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ banco.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('banco_index') }}">back to list</a>

    <a href="{{ path('banco_edit', {'id': banco.id}) }}">edit</a>

    {{ include('banco/_delete_form.html.twig') }}
{% endblock %}
