{% extends 'base.html.twig' %}

{% block title %}Edit Persona{% endblock %}

{% block body %}
    <h1>Edit Persona</h1>

    {{ include('persona/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('persona_index') }}">Volver</a>

    {# {{ include('persona/_delete_form.html.twig') }} #}
{% endblock %}
