{% extends 'base.html.twig' %}

{% block title %}Persona index{% endblock %}


{% block body %}
<h1>Listado de Clientes</h1>

<br>

<a class="btn btn-block  btn-primary" href="{{ path('persona_new') }}">Crear Nuevo Cliente</a>

<br>
<table class="table table-striped  " id="data" style="width:80%;margin-left: auto;margin-right:auto; ">

    <thead>
        <tr>


            <th>Nrolegajo</th>

            <th>Nombre -Direccion</th>

            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for persona in personas %}
            <tr>


                <td>{{ persona.nrolegajo }}</td>

                <td>{{ persona.nombre }}
                    -
                    {{ persona.direccion }}
                    -
                    {{ persona.zona }}</td>

                <td>
                    <ul>
                        <div class="btn-group">

                            <a class="btn btn-outline-primary" href="{{ path('persona_show', { 'id': persona.id }) }}">Ver</a>

                            {#<a class="btn btn-outline-primary" href="{{ path('cliente_edit', { 'id': persona.id }) }}">edit</a>        #}
                        </div>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#data').DataTable({
            // "searching": false,
            // "order": [
            //     [1, "asc"]
            // ],

            destroy: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }

        });
    });
</script>


   
{% endblock %}
