{% extends 'base.html.twig' %}

{% block title %}New Persona{% endblock %}

{% block body %}
    <h1>Nuevo  Cliente</h1>

    {{ include('persona/_form.html.twig') }}

<a class="btn btn-warning" href="{{ path('persona_index') }}">Volver</a>

</div>
<script>

    $(document).ready(function () {
        document.getElementById('persona_condicionDeIva').value = '5';
        document.getElementById('persona_tipoDoc').value = '35';
        //document.getElementById('persona_zona').value = '1';
        document.getElementById('persona_localidad').value = '26317';
        // $('#persona_localidad').hide();
    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "../nroleg",
            dataType: "json",
            success: function (respuesta) { // $('#appbundle_persona_nrolegajo').val(parseInt(respuesta[0][0]));
            $('#persona_nrolegajo').val(parseInt(respuesta[0][1]));

                // $('#nombre').val('Como : '+value.nombre+' - '+value.apellido);
                // document.getElementById('appbundle_cliente_localidad').value=locaid;

            }
        })

    });


</script>
<script >
$(document).ready(function() {
    $('#persona_localidad').select2();
});

</script>


{% endblock %}
