{% extends 'base.html.twig' %}

{% block title %}Persona{% endblock %}

{% block body %}
    <h1>Persona</h1>

    <a class="btn btn-outline-info" href="{{ path('resumen_ind_all', { 'id': persona.id }) }}"> Estado CTACTE </a>
    <a class="btn btn-outline-info" href="{{ path('resumen_historial', { 'id': persona.id }) }}"> Historial de Compras Productos </a>
    <br>
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ persona.id }}</td>
            </tr>
            <tr>
                <th>Cuit</th>
                <td>{{ persona.cuit }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ persona.documento }}</td>
            </tr>
            <tr>
                <th>Pjuridica</th>
                <td>{{ persona.pjuridica ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Nrolegajo</th>
                <td>{{ persona.nrolegajo }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ persona.direccion }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ persona.nombre }}</td>
            </tr>
            <tr>
                <th>NombFantasia</th>
                <td>{{ persona.nombFantasia }}</td>
            </tr>
            <tr>
                <th>Ibrutos</th>
                <td>{{ persona.ibrutos }}</td>
            </tr>
            <tr>
                <th>TelFax</th>
                <td>{{ persona.telFax }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ persona.celular }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ persona.email }}</td>
            </tr>
            <tr>
                <th>Contacto</th>
                <td>{{ persona.contacto }}</td>
            </tr>
            <tr>
                <th>CelContacto</th>
                <td>{{ persona.celContacto }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ persona.observacion }}</td>
            </tr>
            {% if proveedor  %}
            <tr>
                <th>Proveedor</th>
                <td>SI</td>
            </tr>
        {% else %}
                <tr>
                <th><button id="btnCrear" type="button" class="btn btn-success">Agregar Proveedor</button></th>
                <td></td>

            {% endif %}
           
           {#  <tr>
                <th>Gremio</th>
                <td>{{ persona.gremio ? 'Yes' : 'No' }}</td>
            </tr> #}
           {#  <tr>
                <th>Ctacte</th>
                <td>{{ persona.ctacte ? 'Yes' : 'No' }}</td>
            </tr> #}
        </tbody>
    </table>
<div class="btn-group">
<a class="btn btn-warning" href="{{ path('persona_index') }}">Volver</a>

<a class="btn btn-primary" href="{{ path('persona_edit', {'id': persona.id}) }}">Editar</a>



    {# {{ include('persona/_delete_form.html.twig') }} #}
</div>

 <script>
           
            $(document).ready(function () {
                $('#btnCrear').click(function () {
                     $('#btnCrear').attr("disabled", true);
// var datos = t2.rows().data(); //(t2.rows().data().length != 0) &&
                    var idclie ='{{ persona.id }}';
                    if ( ('' != idclie)) {
                      

                        $.ajax({url: "{{ path('nuevo_proveedor') }}",
                            data: {
                                //'array': JSON.stringify(datos),
                               
                                proveID : idclie,
                                //'largo': datos.length - 1,
                               
                                // ,
                                // 'cenvio': cenvio
                            },
                            type: "post",
                            dataType: "json",
                            success: function (data) { //                        $('#resp').html(data);
                            }

                        }).then(function (data) {
                           
                            var ab =  data.id;
                            if (ab !='') {
                            Swal.fire({
                                type: 'Exito',
                                icon: 'success',
                                    title: ' Creado con Exito',
                                    // footer: '<button class="btn btn-primary"  onClick="window.location.reload();"> Refresh Page</button>'

                                })

                            }

                          
                              

                        });
                    } else {
                        $('#btnCrear').attr("disabled", false);
                        //window.alert('Faltan Datos, Completar');
                        Swal.fire({
                        type: 'error',
                            title: 'Faltan Datos',
                            footer: '<h2>Completar</h2>'

                        })
                    }
                });

                // $('.dataTables_paginate').hide();
 });

</script>



{% endblock %}
