{% extends 'base.html.twig' %}

{% block title %}Diario
{% endblock %}

{% block body %}
<script type="text/javascript">

</script>
<h2>Filtrar</h2>
 <form action="{{ path('resumen_efechas') }}" method="post" >
                

                <td> <input id="desde" class="t0"  name="desde"></td>
                <td> <input id="hasta" class="t0"  name="hasta"></td>
                <td>
                    <div class="btn-group">

                        <button  type="submit" class="btn btn-success"   role="button">Buscar</button>

                    </div>
                </td>
                </form>
<hr>
<h3>Contado</h3>
 <table id="table2" class="table  display dt-responsive">
    <thead>
        <tr>
    


	<th class="text-center">Cod_O</th>

	 <th class="text-center">Cod_A</th>


	      
	<th class="text-center">Cod_P</th>

	<th class="text-center">Producto</th>

	<th class="text-center" >CantNP</th>
	<th class="text-center" >CantNC</th>

	      
	<th class="text-center">PVP</th>
	<th  class="text-center " >TOTAL</th>

        
    </tr>
</thead>
            <tbody>
            {% for uno in unos %}
                <tr>
                

             	<td class="text-center">{{ uno.Cod_O }}</td>
				<td class="text-center">{{ uno.Cod_A }}</td>
				<td class="text-center">{{ uno.Cod_P }}</td>
				<td class="text-center">{{ uno.Producto }}</td>
				<td class="text-center">{{ uno.CantNP }}</td>
				<td class="text-center">{{ uno.CantNC }}</td>
				<td class="text-center">{{ uno.Pvp }}</td>
				<td class="text-center">{{ uno.TOTAL }}</td>
             
                </tr>
            {% else %}
                <tr>
                    <td colspan="20">Sin Datos</td>
                </tr>
            {% endfor %}

   </tbody> 
    <tfoot>
    <tr>
   
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td ><button id="ac" type="button" class="btn btn-outline-dark">Total</button></td>
    </tr>
  </tfoot>
</table>

<hr>


<h3>Cuenta Corriente</h3>
 <table id="data" class="table  display dt-responsive">
    <thead>
        <tr>
    


	<th class="text-center">Cod_O</th>

	 <th class="text-center">Cod_A</th>


	      
	<th class="text-center">Cod_P</th>

	<th class="text-center">Producto</th>

	<th class="text-center" >CantNP</th>
	<th class="text-center" >CantNC</th>

	      
	<th class="text-center">PVP</th>
	<th  class="text-center" >TOTAL</th>

        
    </tr>
</thead>
    <tbody>
    {% for dos in doss %}
        <tr>
        

     	<td class="text-center">{{ dos.Cod_O }}</td>
		<td class="text-center">{{ dos.Cod_A }}</td>
		<td class="text-center">{{ dos.Cod_P }}</td>
		<td class="text-center">{{ dos.Producto }}</td>
		<td class="text-center">{{ dos.CantNP }}</td>
		<td class="text-center">{{ dos.CantNC }}</td>
		<td class="text-center">{{ dos.Pvp }}</td>
		<td class="text-center">{{ dos.TOTAL }}</td>
     
        </tr>
    {% else %}
        <tr>
            <td colspan="20">Sin Datos</td>
        </tr>
    {% endfor %}

</tbody> 
 <tfoot>
    <tr>
   
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td ><button id="ab" type="button" class="btn btn-outline-dark">Total</button></td>
    </tr>
  </tfoot>
</table>
<hr>

 <script>





$(document).ready(function() {
       

       var t2 =   $('#data').DataTable({
        dom: 'Bfrtip',
        buttons: [
        {
            title: 'Cuenta Corriente',
            extend: 'print',
            text: 'Imprimir',
            autoPrint: true,
            exportOptions: {
                columns: ':visible',
            },
            customize: function (win) {
                $(win.document.body).find('table').addClass('display').css('font-size', '10px');
                $(win.document.body).find('tr:nth-child(odd) td').each(function(index){
                    $(this).css('background-color','#D0D0D0');
                });
                $(win.document.body).find('h1').css('text-align','center');
            }
        
        },
       {
            title: 'Cuenta Corriente',
            extend: 'pdfHtml5',
            text: 'PDF',
            orientation : 'portrait',
            pageSize : 'A4',
      
            exportOptions: {
                modifier: {
                    page: 'current'
                }
                // ,
                // columns: [ 0, 1, 2, 3, 5, 6, 7 ]
                // },
                // customize: function ( doc ) {
                // doc.content[1].table.widths = [
                // '5%',
                // '30%',
                // '30%',
                // '10%',
                // '10%',
                // '10%',
                // '5%'
                // ]
            }

        },
         {
            title: 'Cuenta Corriente',
            extend: 'excelHtml5',
            text: 'Excel',
            customize: function(xlsx) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
 
                // Loop over the cells in column `C`
               // $('row c[r^="C"]', sheet).each( function () {
                    // Get the value
                    // if ( $('is t', this).text() == 'New York' ) {
                    //     $(this).attr( 's', '20' );
                    // }
                //});
            }
        }


    ],"lengthMenu": [
                            [
                                -1
                            ],
                            [
                                "Todos"
                            ]
                        ],
       	       	 "searching": false,
            "order": [
                [3, "asc"]
            ],
            // "columnDefs": [
            //     {
            //         "targets": [0],
            //         "visible": false,
            //         "searchable": false

            //     } ,
            //         {
            //           "targets": [ 2,4,5 ],
            //            "visible": true,
            //           "searchable": false
            //        }
            // ],
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
    //         ,
    //         drawCallback: function () {
    //   var api = this.api();
    //   $( api.table().footer() ).html(
    //     api.column( 7, {page:'current'} ).data().sum()
    //   );
    // }
        });

          
        $('#ab').click( function () {
        	var total = t2.column( 7 ).data().sum();


			Swal.fire('CtaCte Total : $'+total.toFixed(2))
        
        } );
  
					
					 // window.alert( total);
		   	// 		$('#total2').val(total.toFixed(2));
		               
		              
		        

    });

$(document).ready(function() {
       

       var t1 =   $('#table2').DataTable({
       	 dom: 'Bfrtip',
        buttons: [
        {
            title: 'CONTADO',
            extend: 'print',
            text: 'Imprimir',
          autoPrint: true,
            exportOptions: {
                columns: ':visible',
            },
            customize: function (win) {
                $(win.document.body).find('table').addClass('display').css('font-size', '16px');
                $(win.document.body).find('tr:nth-child(odd) td').each(function(index){
                    $(this).css('background-color','#D0D0D0');
                });
                $(win.document.body).find('h1').css('text-align','center');
            }
        
        },
       {
            title: 'CONTADO',
            extend: 'pdfHtml5',
            text: 'PDF',
            orientation : 'portrait',
            pageSize : 'A4',
            exportOptions: {
                modifier: {
                    page: 'current'
                }
            }
        },
        {
            title: 'CONTADO',
            extend: 'excelHtml5',
            text: 'Excel',
            customize: function(xlsx) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
 
                // Loop over the cells in column `C`
               // $('row c[r^="C"]', sheet).each( function () {
                    // Get the value
                    // if ( $('is t', this).text() == 'New York' ) {
                    //     $(this).attr( 's', '20' );
                    // }
                //});
            }
        }
        ],"lengthMenu": [
                            [
                                -1
                            ],
                            [
                                "Todos"
                            ]
                        ],
       	 "searching": false,
            "order": [
                [3, "asc"]
            ],
            // "columnDefs": [
            //     {
            //         "targets": [0],
            //         "visible": false,
            //         "searchable": false

            //     } ,
            //         {
            //           "targets": [ 2,4,5 ],
            //            "visible": true,
            //           "searchable": false
            //        }
            // ],
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
    //         ,
    //         drawCallback: function () {
    //   var api = this.api();
    //   $( api.table().footer() ).html(
    //     api.column( 7, {page:'current'} ).data().sum()
    //   );
    // }
        });

          
        $('#ac').click( function () {
        	var total2 = t1.column( 7 ).data().sum();


			Swal.fire('Contado Total : $'+total2.toFixed(2))
        
        } );
  
					
					 // window.alert( total);
		   	// 		$('#total2').val(total.toFixed(2));
		               
		              
		        

    });
</script>

<script>

    $(function () { // fecha de datepicker por defecto le paso la de hoyY-m-d
        $("#desde,#hasta").datepicker();

        $("#desde,#hasta").datepicker("option", "dateFormat", 'yy-mm-dd');
         $("#desde,#hasta").datepicker('setDate', new Date());
    });
    //         
</script>

{% endblock %}
