{% extends 'base.html.twig' %}

{% block title %}Historial de Compra
{% endblock %}

{% block body %}


 

<h3>Historial de Compra</h3>
 <table id="table2" class="table  display dt-responsive">
    <thead>
        <tr>
    




	      
	<th class="text-center">Fecha de COMPRA</th>

	<th class="text-center">Producto</th>



        
    </tr>
</thead>
            <tbody>
            {% for uno in unos %}
                <tr>
                

             
				<td class="text-center">{{ uno.Fecha }}</td>
				<td class="text-center">{{ uno.Producto }}</td>
				
             
                </tr>
            {% else %}
                <tr>
                    <td colspan="20">Sin Datos</td>
                </tr>
            {% endfor %}

   </tbody> 
   
</table>

<hr>


 <script>







      

$(document).ready(function() {
       

       var t1 =   $('#table2').DataTable({
       	 dom: 'Bfrtip',
        buttons: [
        {
            title: 'HISTORIAL',
            extend: 'print',
            text: 'Imprimir',
          autoPrint: true,
            exportOptions: {
                columns: ':visible',
            },
            customize: function (win) {
                $(win.document.body).find('table').addClass('display').css('font-size', '16px');
                $(win.document.body).find('tr:nth-child(odd) td').each(function(index){
                    $(this).css('background-color','#D0D0D0');
                });
                $(win.document.body).find('h1').css('text-align','center');
            }
        
        },
       {
            title: 'HISTORIAL',
            extend: 'pdfHtml5',
            text: 'PDF',
            orientation : 'portrait',
            pageSize : 'A4',
            exportOptions: {
                modifier: {
                    page: 'current'
                }
            }
        }
        ],"lengthMenu": [
                            [
                                -1
                            ],
                            [
                                "Todos"
                            ]
                        ],
       	 "searching": true,
            "order": [
                [0, "asc"]
            ],
            // "columnDefs": [
            //     {
            //         "targets": [0],
            //         "visible": false,
            //         "searchable": false

            //     } ,
            //         {
            //           "targets": [ 2,4,5 ],
            //            "visible": true,
            //           "searchable": false
            //        }
            // ],
            responsive: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
    //         ,
    //         drawCallback: function () {
    //   var api = this.api();
    //   $( api.table().footer() ).html(
    //     api.column( 7, {page:'current'} ).data().sum()
    //   );
    // }
        });

          
        	
					 // window.alert( total);
		   	// 		$('#total2').val(total.toFixed(2));
		               
		              
		        

    });
</script>

<script>

    $(function () { // fecha de datepicker por defecto le paso la de hoyY-m-d
        $("#desde,#hasta").datepicker();

        $("#desde,#hasta").datepicker("option", "dateFormat", 'yy-mm-dd');
         $("#desde,#hasta").datepicker('setDate', new Date());
    });
    //         
</script>

{% endblock %}
