{% extends 'base.html.twig' %}

{% block title %}INDIVIDUAL
{% endblock %}

{% block body %}

<div style="text-align: center; "> 
<button style="border-bottom: 1px solid black;" class="btn" onclick="c() "><h3>CUENTA : {{ persona.nrolegajo }} - {{ persona.nombre }}</h3>
</button> 

</div>
<br>
<div class="btn-group " style="display: block; text-align: right; " >
    <a class="btn btn-outline-info" href="{{ path('resumen_ind_all', { 'id': persona.id }) }}"> Comp Apropiados</a>
    <a class="btn btn-outline-info" href="{{ path('resumen_individual', { 'id': persona.id }) }}"> Sin Apropiar</a>

                            <a class="btn btn-outline-primary" href="{{ path('persona_show', { 'id': persona.id }) }}">Ver Cliente</a>
{# RecCuenta #}
                            <a class="btn btn-outline-warning" href="{{ path('RecCuenta', { 'id': persona.id }) }}"">Recibo</a> 
                            <a class="btn btn-outline-success" href="{{ path('notacredito_02', { 'id': persona.id }) }}">N Credito</a>        
                        </div>

{# {{ persona.id }} #}

 <table id="table2" class="table  table-striped display dt-responsive">
    <thead>
        <tr>
    


        <th class="text-center">ID</th>

        <th class="text-center">TIPO</th>

        <th class="text-center" >N°</th>

        <th class="text-center" >FECHA</th>
          <th class="text-right">TOTAL</th>
        <th class="text-right">DEBE</th>

        <th class="text-right">HABER</th>
<th class="text-center">AP</th>
	
	<th class="text-center" >Acciones</th>

	      
	

        
    </tr>
</thead>
            <tbody>
            {% for uno in unos %}
                <tr>
                

             	<td class="text-center">{{ uno.id}}</td>
				<td class="text-center">{{ uno.TIPO}}</td>
				<td class="text-center">{{ uno.NUMERO }}</td>
                <td class="text-center">{{ uno.FECHA }}</td>
                  <td class="text-right">{{ uno.TOTAL}}</td>
                <td class="text-right">{{ uno.DEBE}}</td>
				<td class="text-right">{{ uno.HABER }}</td>
                <td class="text-center">{{ uno.APROPIADO }}</td>
				{# <td class="text-right">{{ uno.SALDO}}</td> #}
				<td class="text-center">
                   <a class="btn btn-primary" href="{{ path('comprobante_show', {'id': uno.id}) }}">Ver</a>

                </td>

             
                </tr>
            {% else %}
                <tr>
                    <td colspan="20">Sin Datos</td>
                </tr>
            {% endfor %}

   </tbody> 
    <tfoot>
    <tr>
   
  
    <th class="text-center">ID</th>

    <th class="text-center">TIPO</th>

    <th class="text-center" >N°</th>

    <th class="text-center" >FECHA</th>
       <th class="text-right">TOTAL</th> 
    <th class="text-right">DEBE</th>

    <th class="text-right">HABER</th>
    <th class="text-center">AP</th>

   <th class="text-center" ><button id="ac" type="button" class="btn btn-outline-dark">Total</button></th>
    
    </tr>
  </tfoot>
</table>

<hr>




 <script>






       


$(document).ready(function() {
       

       var t1 =   $('#table2').DataTable({
       	 dom: 'Bfrtip',
        buttons: [
        {
            title: 'RESUMEN Individual Cliente : '+ '{{ persona.nombre }}',
            extend: 'print',
            text: 'Imprimir',
            autoPrint: true,
            exportOptions: {
                 columns: [1,2,3,4,5,6,7],
             //     columns: {"targets": [0],
             //     "visible":false
             // },

                modifier: {
                    page: 'current'
                }
            },
               
                   

            customize: function (win) {
                $(win.document.body).find('table').addClass('display').css('font-size', '16px');
                $(win.document.body).find('tr:nth-child(odd) td').each(function(index){
                    $(this).css('background-color','#D0D0D0');
                });
                 $(win.document.body).find('h1').css('text-align','center');
                  // $(win.document.body).find( 'table' )
                  //           .addClass( 'compact' )
                  //           .css( 'font-size', 'inherit' );
            }
        
        },
       {
            title: 'RESUMEN Individual Cliente : '+ '{{ persona.nombre }}',
            extend: 'pdfHtml5',
            text: 'PDF',
            orientation : 'portrait',
            pageSize : 'A4',
            exportOptions: {
                 columns: [1,2,3,4,5,6,7],
                modifier: {
                    page: 'current'
                }
            }
        },{
            title: 'RESUMEN Individual Cliente : '+ '{{ persona.nombre }}',
            extend: 'excelHtml5',
            text: 'Excel',
            customize: function(xlsx) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
 
                // Loop over the cells in column `C`
               // $('row c[r^="C"]', sheet).each( function () {
                    // Get the value
                    // if ( $('is t', this).text() == 'New York' ) {
                    //     $(this).attr( 's', '20' );
                    // }
                //});
            }
        }
        ],"lengthMenu": [
                            [
                                -1
                            ],
                            [
                                "Todos"
                            ]
                        ],
       	 "searching": false,
            "order": [
                [0, "asc"]
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false

                }
            ],
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
    //         ,
    //         drawCallback: function () {
    //   var api = this.api();
    //   $( api.table().footer() ).html(
    //     api.column( 7, {page:'current'} ).data().sum()
    //   );
    // }
        });

   $('#ac').click( function () {
            var total1 = t1.column( 5 ).data().sum();
             var total2 = t1.column( 6 ).data().sum();
            var totales = total1 - total2;

            Swal.fire(' Total : $'+totales.toFixed(2))
        
        } );
  
		               
		              
		        

    });
</script>
  <script>
  
// $(document).ready(function() {
// $('#cliente').text(Cookies.get('cliente_nombre'));


//     });
// </script>
<script type="text/javascript">
 
    function c(){
        Swal.fire(' CONTACTO ','Cel : {{ persona.celular }} <br> Email: {{ persona.email }} <br> TelFax : {{ persona.telFax }}')
        // Cookies.remove('cliente_id');
        // Cookies.remove('cliente_nombre');
        // Cookies.set('cliente_id', a);
        // Cookies.set('cliente_nombre', b);
        // var dd = "resumen/";
        // var cc = dd + a;
        // location.assign(cc); 
        // // window.alert(a + b);

          

};
 

</script>

{% endblock %}
