{# {% extends 'base.html.twig' %} #}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('favicon.ico') }}" />
     <link rel="stylesheet" href="{{ asset('assets/css/bootstrapFOS.css') }}" />


 {% endblock %}
   {% block menu %}
   {% endblock %}
{% block body %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="col-lg-3 col-10"></div>

            <div class="col-lg-6 col-12" style="background-color: rgba(90, 90, 88, 0.9);">


                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                 <h2>   {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a class="btn btn-danger btn-lg" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a> </h2>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}


            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}


                {% block fos_user_content %}
                {% endblock fos_user_content %}
                <div class="alert-warning">
                    <div class="container">
                      <h2>SySad</h2>
                        <h3>
                            <p>Creado Por Acal.com.ar </p>
                        </h3>
                        <br>
                    </div>
                </div>
                <br>

    </div>
    <div class="col-lg-3 col-0"></div>
{% endblock %}
 {% block javascripts %}
     <script rel="stylesheet" href="{{ asset('assets/js/bootstrap.min.js') }}"></script>
     <script rel="stylesheet" href="{{ asset('assets/js/jquery.min.js') }}"></script>
 {% endblock %}
{% block footer %}
{% endblock %}