<form method="post" action="{{ path('mediodepago_delete', {'id': mediodepago.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mediodepago.id) }}">
    <button class="btn btn-danger" class="btn">Eliminar</button>
</form>
