{% extends 'base.html.twig' %}

{% block title %}Edit Mediodepago{% endblock %}

{% block body %}
    <h1>Edit Mediodepago</h1>

    {{ include('mediodepago/_form.html.twig', {'button_label': 'Actualizar' } ) }}

    <a class="btn btn-secondary" href="{{ path('mediodepago_index') }}">Volver</a>

    {{ include('mediodepago/_delete_form.html.twig') }}
    </div>
{% endblock %}
{# ,'class': 'btn btn-secondary' #}