{% extends 'base.html.twig' %}

{% block title %}Mediodepago index{% endblock %}

{% block body %}
    <h1>Mediodepago</h1>
     <a class="btn btn-primary"  href="{{ path('mediodepago_new') }}">Nuevo</a>
     <br>
     <br>

    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                {# <th>CuentaId</th> #}
             {#    <th>TarjetaDeCredito</th>
                <th>Otros</th>
                <th>Descuento</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mediodepago in mediodepagos %}
            <tr>
                <td>{{ mediodepago.id }}</td>
                <td>{{ mediodepago.nombre }}</td>
                <td>{{ mediodepago.activo ? 'SI' : 'No' }}</td>
              {#   <td>{{ mediodepago.cuentaId }}</td>
                <td>{{ mediodepago.tarjetaDeCredito ? 'Yes' : 'No' }}</td>
                <td>{{ mediodepago.otros ? 'Yes' : 'No' }}</td>
                <td>{{ mediodepago.descuento }}</td> #}
                <td><div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a class="btn btn-success" href="{{ path('mediodepago_show', {'id': mediodepago.id}) }}">Ver</a>
                    <a class="btn btn-warning" href="{{ path('mediodepago_edit', {'id': mediodepago.id}) }}">Editar</a>
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
