{% extends 'base.html.twig' %}

{% block title %}New Mediodepago{% endblock %}

{% block body %}
    <h1>Create new Mediodepago</h1>

    {{ include('mediodepago/_form.html.twig') }}

    <a href="{{ path('mediodepago_index') }}">back to list</a>
{% endblock %}
