{% extends 'base.html.twig' %}

{% block title %}Mediodepago{% endblock %}

{% block body %}
    <h1>Mediodepago</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mediodepago.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ mediodepago.nombre }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ mediodepago.activo ? 'SI' : 'No' }}</td>
            </tr>
         {#    <tr>
                <th>CuentaId</th>
                <td>{{ mediodepago.cuentaId }}</td>
            </tr>
            <tr>
                <th>TarjetaDeCredito</th>
                <td>{{ mediodepago.tarjetaDeCredito ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Otros</th>
                <td>{{ mediodepago.otros ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ mediodepago.descuento }}</td>
            </tr> #}
        </tbody>
    </table>
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary" href="{{ path('mediodepago_index') }}">Volver</a>

    <a class="btn btn-warning" href="{{ path('mediodepago_edit', {'id': mediodepago.id}) }}">Editar</a>

    {{ include('mediodepago/_delete_form.html.twig') }}
</div>
{% endblock %}
