{% extends 'base.html.twig' %}

{% block title %}Edit Chqestado{% endblock %}

{% block body %}
    <h1>Edit Chqestado</h1>

    {{ include('chqestado/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('chqestado_index') }}">back to list</a>

    {{ include('chqestado/_delete_form.html.twig') }}
{% endblock %}
