{% extends 'base.html.twig' %}

{% block title %}Chqestado index{% endblock %}

{% block body %}
    <h1>Chqestado index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chqestado in chqestados %}
            <tr>
                <td>{{ chqestado.id }}</td>
                <td>{{ chqestado.descripcion }}</td>
                <td>
                    <a href="{{ path('chqestado_show', {'id': chqestado.id}) }}">show</a>
                    <a href="{{ path('chqestado_edit', {'id': chqestado.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chqestado_new') }}">Create new</a>
{% endblock %}
