{% extends 'base.html.twig' %}

{% block title %}New Chqestado{% endblock %}

{% block body %}
    <h1>Create new Chqestado</h1>

    {{ include('chqestado/_form.html.twig') }}

    <a href="{{ path('chqestado_index') }}">back to list</a>
{% endblock %}
