{% extends 'base.html.twig' %}

{% block title %}Chqestado{% endblock %}

{% block body %}
    <h1>Chqestado</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chqestado.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ chqestado.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chqestado_index') }}">back to list</a>

    <a href="{{ path('chqestado_edit', {'id': chqestado.id}) }}">edit</a>

    {{ include('chqestado/_delete_form.html.twig') }}
{% endblock %}
