<form method="post" action="{{ path('cajadiaria_delete', {'id': cajadiarium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cajadiarium.id) }}">
    <button class="btn">Delete</button>
</form>
