{% extends 'base.html.twig' %}

{% block title %}Edit Cajadiaria{% endblock %}

{% block body %}
    <h1>Editar Cajadiaria</h1>

    {{ include('cajadiaria/_form.html.twig', {'button_label': 'Actualizar'}) }}
<a class="btn btn-primary" href="javascript:history.back()"> Volver Atrás</a>
{#     <a class="btn btn-primary" href="{{ path('cajadiaria_index') }}">Volver</a> #}
</div>
    {# {{ include('cajadiaria/_delete_form.html.twig') }} #}
{% endblock %}
