{% extends 'base.html.twig' %}

{% block title %}Cajadiaria index{% endblock %}

{% block body %}
    <h1>Cajadiaria </h1>

   <h2>Filtrar</h2>
 <form action="{{ path('cajadiaria_efechas') }}" method="post" >
                

                <td> <input id="desde" class="t0"  name="desde"></td>
                <td> <input id="hasta" class="t0"  name="hasta"></td>
                <td>
                    <div class="btn-group">

                        <button  type="submit" class="btn btn-success"   role="button">Buscar</button>

                    </div>
                </td>
                </form>
<hr>
    <table class="table  table-striped display dt-responsive " id="data">
        <thead>
            <tr>
                <th>Nº</th>
                <th>Tipo Comprobante</th>
                {# <th>Comprobante</th> #}
                {# <th>Descripcion</th> #}
                <th >Fecha</th>
                <th class="text-center">Debe</th>
                <th class="text-center">Haber</th>
                {# <th>Persona</th> #}
                {# <th>PuntoDeVenta</th> #}
                
                {# <th>User</th> #}
                {# <th>CompTimestamp</th> #}
                {# <th>Observaciones</th> #}
                <th>btn</th>
            </tr>
        </thead>
        <tbody>
        {% for cajadiarium in cajadiarias %}
            <tr>
                <td>{{ cajadiarium.id }}</td>
                 <td>{{ cajadiarium.tipoComprobante }}</td>
                {# <td>{{ cajadiarium.comprobante }}</td> #}
                {# <td class="text-left">{{ cajadiarium.descripcion }}</td> #}
                <td>{{ cajadiarium.fecha ? cajadiarium.fecha|date('d-m-Y') : ''}}</td>
                <td class="text-center">$ {{ cajadiarium.debe }}</td>
                <td class="text-center">$ {{ cajadiarium.haber }}</td>
                {# <td>{{ cajadiarium.persona }}</td> #}
                {# <td>{{ cajadiarium.puntoDeVenta }}</td> #}
               
                {# <td>{{ cajadiarium.user }}</td> #}
                {# <td>{{ cajadiarium.compTimestamp }}</td> #}
                {# <td>{{ cajadiarium.observaciones }}</td> #}
                <td>
                    <a class="btn btn-primary" href="{{ path('cajadiaria_show', {'id': cajadiarium.id}) }}">Ver</a>
                    {# <a href="{{ path('cajadiaria_edit', {'id': cajadiarium.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
             <tr>
                <th>Nº</th>
                <th>Tipo Comprobante</th>
                {# <th>Comprobante</th> #}
                {# <th>Descripcion</th> #}
                <th >Fecha</th>
                <th class="text-center">Debe</th>
                <th class="text-center">Haber</th>
                {# <th>Persona</th> #}
                {# <th>PuntoDeVenta</th> #}
                
                {# <th>User</th> #}
                {# <th>CompTimestamp</th> #}
                {# <th>Observaciones</th> #}
                <th>btn</th>
            </tr>
        </tfoot>
    </table>
    <hr>
    <hr>
<h3>RESUMEN</h3>
 <table id="table2" class="table  display dt-responsive">
    <thead>
        <tr>
    


    <th class="text-center">Tipo Comprobante</th>

     <th class="text-center">Debe</th>


          
    <th class="text-center">Haber</th>

    

        
    </tr>
</thead>
            <tbody>
            {% for uno in unos %}
                <tr>
                

                <td class="text-center">{{ uno.TIPO }}</td>
                <td class="text-center">{{ uno.DEBE }}</td>
                <td class="text-center">{{ uno.HABER}}</td>
             
             
                </tr>
            {% else %}
                <tr>
                    <td colspan="20">Sin Datos</td>
                </tr>
            {% endfor %}

   </tbody> 
    <tfoot>
    <tr>
   
      <td></td>
      <td></td>
   
      <td ><button id="ac" type="button" class="btn btn-outline-dark">Total</button></td>
    </tr>
  </tfoot>
</table>

   

    <script>
    $(document).ready(function () {
        $('#data').DataTable({
            initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        },
            "order": [
                [0, "DESC"]
            ],
            // "columnDefs": [
            //     {
            //         "targets": [0],
            //         "visible": false,
            //         "searchable": false

            //     } ,
            //         {
            //           "targets": [4 ,2,6],
            //            "visible": true,
            //           "searchable": false
            //        }
            //        ,
            //         {
            //           "targets": [1,3,5 ],
            //            "visible": true,
            //           "searchable": true
            //        }
            // ],
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }

        });
    });

    $(document).ready(function() {
       

       var t1 =   $('#table2').DataTable({
         dom: 'Bfrtip',
        buttons: [
        {
            title: 'Resumen',
            extend: 'print',
            text: 'Imprimir',
          autoPrint: true,
            exportOptions: {
                columns: ':visible',
            },
            customize: function (win) {
                $(win.document.body).find('table').addClass('display').css('font-size', '16px');
                $(win.document.body).find('tr:nth-child(odd) td').each(function(index){
                    $(this).css('background-color','#D0D0D0');
                });
                $(win.document.body).find('h1').css('text-align','center');
            }
        
        },
       {
            title: 'Resumen',
            extend: 'pdfHtml5',
            text: 'PDF',
            orientation : 'portrait',
            pageSize : 'A4',
            exportOptions: {
                modifier: {
                    page: 'current'
                }
            }
        },{
            title: 'Resumen',
            extend: 'excelHtml5',
            customize: function(xlsx) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
 
                // Loop over the cells in column `C`
               // $('row c[r^="C"]', sheet).each( function () {
                    // Get the value
                    // if ( $('is t', this).text() == 'New York' ) {
                    //     $(this).attr( 's', '20' );
                    // }
                //});
            }
        }
        ],"lengthMenu": [
                            [
                                -1
                            ],
                            [
                                "Todos"
                            ]
                        ],
         "searching": false,
            // "order": [
            //     [3, "asc"]
            // ],
            // "columnDefs": [
            //     {
            //         "targets": [0],
            //         "visible": false,
            //         "searchable": false

            //     } ,
            //         {
            //           "targets": [ 2,4,5 ],
            //            "visible": true,
            //           "searchable": false
            //        }
            // ],
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
    //         ,
    //         drawCallback: function () {
    //   var api = this.api();
    //   $( api.table().footer() ).html(
    //     api.column( 7, {page:'current'} ).data().sum()
    //   );
    // }
        });

          
        $('#ac').click( function () {
            var total2 = t1.column( 1 ).data().sum();
            var total3 = t1.column( 2 ).data().sum();
            var total4 = total2 - total3;

            Swal.fire('Contado Total : $'+total4.toFixed(2))
        
        } );
  
                    
                     // window.alert( total);
            //      $('#total2').val(total.toFixed(2));
                       
                      
                

    });

</script>
<script>

    $(function () { // fecha de datepicker por defecto le paso la de hoyY-m-d
        $("#desde,#hasta").datepicker();

        $("#desde,#hasta").datepicker("option", "dateFormat", 'yy-mm-dd');
         $("#desde,#hasta").datepicker('setDate', new Date());
    });
    //         
</script>
{% endblock %}
