{% extends 'base.html.twig' %}

{% block title %}New Cajadiaria{% endblock %}

{% block body %}
    <h1>Create new Cajadiaria</h1>

    {{ include('cajadiaria/_form.html.twig') }}

    <a href="{{ path('cajadiaria_index') }}">back to list</a>
{% endblock %}
