{% extends 'base.html.twig' %}

{% block title %}Cajadiaria{% endblock %}

{% block body %}

    
 
{% if cajadiarium.tipoComprobante.id == 31 %}
         <h1>Comprobante  NP</h1>
         <a class="btn  float-right" href="{{ path('pdfnp', {'id': cajadiarium.comprobante}) }}" target="_blank">IMPRIMIR Comprobante  <li class="fas fa-print fa-3x"> </li> </a>
        
    {% elseif cajadiarium.tipoComprobante.id == 33 %}
          <h1>Comprobante  NC</h1>
          <a class="btn  float-right" href="{{ path('pdfnp', {'id': cajadiarium.comprobante}) }}" target="_blank">IMPRIMIR Comprobante  <li class="fas fa-print fa-3x"> </li> </a>
         
    {% elseif cajadiarium.tipoComprobante.id == 32 %}
         <h1>Comprobante  Recibo</h1>
         
         <a class="btn  float-right" href="{{ path('pdfrec', {'id': cajadiarium.comprobante}) }}" target="_blank">IMPRIMIR Comprobante  <li class="fas fa-print fa-3x"> </li> </a>
    {%  else  %}
<h1>Comprobante OTROS</h1>

    {% endif %}
   


<br>

    <h1>Cajadiaria</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Nº:</th>
                <td>{{ cajadiarium.id }}</td>
                 <th>Comprobante Nº:</th>
                <td>{{ cajadiarium.comprobante }}</td>
            </tr>
           
            <tr>
                <th>Descripcion:</th>
                <td>{{ cajadiarium.descripcion }}</td>
                 <th>Fecha:</th>
                <td>{{ cajadiarium.fecha ? cajadiarium.fecha|date('d-m-Y') : ''}}</td>
            </tr>
          
            <tr>
                <th>Debe:</th>
                <td>$ {{ cajadiarium.debe }}</td>
                <th>Haber:</th>
                <td>$ {{ cajadiarium.haber }}</td>
            </tr>
       
            {# <tr>
                <th>Persona</th>
                <td>{{ cajadiarium.persona }}</td>
            </tr> #}
            {# <tr>
                <th>PuntoDeVenta</th>
                <td>{{ cajadiarium.puntoDeVenta }}</td>
            </tr> #}
            <tr>
                <th>TipoComprobante:</th>
                <td>{{ cajadiarium.tipoComprobante }}</td>
                 <th>Observaciones:</th>
                <td>{{ cajadiarium.observaciones }}</td>
            </tr>
            {# <tr>
                <th>User</th>
                <td>{{ cajadiarium.user }}</td>
            </tr>
            <tr>
                <th>CompTimestamp</th>
                <td>{{ cajadiarium.compTimestamp }}</td>
            </tr> #}
         
        </tbody>
    </table>


    {# <a class="btn btn-primary" href="{{ path('cajadiaria_index') }}">Volver</a> #}

    <a class="btn btn-warning" href="{{ path('cajadiaria_edit', {'id': cajadiarium.id}) }}">Modificar</a>

    {# {{ include('cajadiaria/_delete_form.html.twig') }} #}

{% endblock %}
