{% extends 'base.html.twig' %}

{% block title %}Edit Proveedor2{% endblock %}

{% block body %}
    <h1>Edit Proveedor2</h1>

    {{ include('proveedor2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('proveedor2_index') }}">back to list</a>

    {{ include('proveedor2/_delete_form.html.twig') }}
{% endblock %}
