{% extends 'base.html.twig' %}

{% block title %}Proveedor2 index{% endblock %}

{% block body %}
    <h1>Proveedores</h1>

<br>

<a class="btn   btn-primary" href="{{ path('persona_new') }}" >Nueva Persona</a>
<hr>

    <table class="table table-striped" id="data" style="width:80%;margin-left: auto;margin-right:auto; ">
        <thead>
            <tr>
                <th>Id</th>
                {# <th>Cuit</th> #}
                {# <th>Documento</th> #}
                {# <th>Pjuridica</th> #}
                {# <th>Nrolegajo</th> #}
                {# <th>Direccion</th> #}
                <th>Nombre</th>
                {# <th>NombFantasia</th> #}
                {# <th>Ibrutos</th> #}
                <th>TelFax</th>
                {# <th>Celular</th> #}
                {# <th>Email</th> #}
                {# <th>Contacto</th> #}
                {# <th>CelContacto</th> #}
                {# <th>Observacion</th> #}
                {# <th>Zona</th> #}
                {# <th>Gremio</th> #}
                {# <th>Ctacte</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proveedor2 in proveedor2s %}
            <tr>
                <td>{{ proveedor2.id }}</td>
                {# <td>{{ proveedor2.cuit }}</td> #}
                {# <td>{{ proveedor2.documento }}</td> #}
                {# <td>{{ proveedor2.pjuridica ? 'Yes' : 'No' }}</td> #}
                {# <td>{{ proveedor2.nrolegajo }}</td> #}
                {# <td>{{ proveedor2.direccion }}</td> #}
                <td>{{ proveedor2.nombre }}</td>
                {# <td>{{ proveedor2.nombFantasia }}</td> #}
                {# <td>{{ proveedor2.ibrutos }}</td> #}
                <td>{{ proveedor2.telFax }}</td>
                {# <td>{{ proveedor2.celular }}</td> #}
                {# <td>{{ proveedor2.email }}</td> #}
                {# <td>{{ proveedor2.contacto }}</td> #}
                {# <td>{{ proveedor2.celContacto }}</td> #}
                {# <td>{{ proveedor2.observacion }}</td> #}
                {# <td>{{ proveedor2.zona }}</td> #}
                {# <td>{{ proveedor2.gremio ? 'Yes' : 'No' }}</td> #}
                {# <td>{{ proveedor2.ctacte ? 'Yes' : 'No' }}</td> #}
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('proveedor2_show', {'id': proveedor2.id}) }}">Ver</a>
                    {# <a href="{{ path('proveedor2_edit', {'id': proveedor2.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
    $(document).ready(function () {
        $('#data').DataTable({
            // "searching": false,
            // "order": [
            //     [1, "asc"]
            // ],
            destroy: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }

        });
    });
</script>

    {# <a href="{{ path('proveedor2_new') }}">Create new</a> #}
{% endblock %}
