{% extends 'base.html.twig' %}

{% block title %}New Proveedor2{% endblock %}

{% block body %}
    <h1>Create new Proveedor2</h1>

    {{ include('proveedor2/_form.html.twig') }}

    <a href="{{ path('proveedor2_index') }}">back to list</a>
{% endblock %}
