{% extends 'base.html.twig' %}

{% block title %}Proveedor{% endblock %}

{% block body %}
    <h1>Proveedor</h1>
     <a class="btn btn-outline-info" href="{{ path('comprove_individual', { 'id': proveedor2.id }) }}"> Estado CTACTE </a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proveedor2.id }}</td>
            </tr>
            <tr>
                <th>Cuit</th>
                <td>{{ proveedor2.cuit }}</td>
            </tr>
          {#   <tr>
                <th>Documento</th>
                <td>{{ proveedor2.documento }}</td>
            </tr> #}
           {#  <tr>
                <th>Pjuridica</th>
                <td>{{ proveedor2.pjuridica ? 'Yes' : 'No' }}</td>
            </tr> #}
           {#  <tr>
                <th>Nrolegajo</th>
                <td>{{ proveedor2.nrolegajo }}</td>
            </tr> #}
            <tr>
                <th>Direccion</th>
                <td>{{ proveedor2.direccion }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ proveedor2.nombre }}</td>
            </tr>
            <tr>
                <th>NombFantasia</th>
                <td>{{ proveedor2.nombFantasia }}</td>
            </tr>
            {# <tr>
                <th>Ibrutos</th>
                <td>{{ proveedor2.ibrutos }}</td>
            </tr> #}
            <tr>
                <th>TelFax</th>
                <td>{{ proveedor2.telFax }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ proveedor2.celular }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ proveedor2.email }}</td>
            </tr>
            <tr>
                <th>Contacto</th>
                <td>{{ proveedor2.contacto }}</td>
            </tr>
            <tr>
                <th>CelContacto</th>
                <td>{{ proveedor2.celContacto }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ proveedor2.observacion }}</td>
            </tr>
            {# <tr>
                <th>Zona</th>
                <td>{{ proveedor2.zona }}</td>
            </tr> #}
           {#  <tr>
                <th>Gremio</th>
                <td>{{ proveedor2.gremio ? 'Yes' : 'No' }}</td>
            </tr> #}
           {#  <tr>
                <th>Ctacte</th>
                <td>{{ proveedor2.ctacte ? 'Yes' : 'No' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a class="btn btn-success " href="{{ path('proveedor2_index') }}">Volver</a>

    <a class="btn btn-primary " href="{{ path('persona_edit', {'id': proveedor2.id}) }}">Editar</a>

    {# {{ include('proveedor2/_delete_form.html.twig') }} #}
{% endblock %}
