{% extends 'base.html.twig' %}

{% block title %}Estado Compras
{% endblock %}



{% block body %}
    {% include "submenu_info.html.twig" %}
<script type="text/javascript">

</script>
<h2>Filtrar</h2>
 <form action="{{ path('info_ventas') }}" method="post" >
                

                <td> <input id="desde" class="t0"  name="desde"></td>
                <td> <input id="hasta" class="t0"  name="hasta"></td>
                <td>
                    <div class="btn-group">

                        <button  type="submit" class="btn btn-success"   role="button">Buscar</button>

                    </div>
                </td>
                </form>
<hr>
<h3>Contado</h3>
 <table id="table2" class="table  display dt-responsive">
    <thead>
        <tr>
    


    <th class="text-center">FECHA</th>

     <th class="text-center">TIPOCOMP</th>


          
    <th class="text-center">NUMERO</th>

    <th class="text-center">CLIENTE</th>

    <th class="text-center" >CUIT</th>
    <th class="text-center" >TIPO_VENTA</th>

          
    <th class="text-center">ESTADO</th>
    <th  class="text-center " >TOTAL</th>

        
    </tr>
</thead>
            <tbody>
            {% for uno in unos %}
                <tr>
                

                <td class="text-center">{{ uno.FECHA }}</td>
                <td class="text-center">{{ uno.TIPOCOMP }}</td>
                <td class="text-center">{{ uno.NUMERO }}</td>
                <td class="text-center">{{ uno.CLIENTE }}</td>
                <td class="text-center">{{ uno.CUIT }}</td>
                <td class="text-center">{{ uno.TIPO_VENTA }}</td>
                <td class="text-center">{{ uno.ESTADO }}</td>
                <td class="text-center">{{ uno.TOTAL }}</td>
             
                </tr>
            {% else %}
                <tr>
                    <td colspan="20">Sin Datos</td>
                </tr>
            {% endfor %}

   </tbody> 
    <tfoot>
    <tr>
   
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td ><button id="ac" type="button" class="btn btn-outline-dark">Total</button></td>
    </tr>
  </tfoot>
</table>


<hr>

 <script>





$(document).ready(function() {
       

       var t2 =   $('#table2').DataTable({
        dom: 'Bfrtip',
        buttons: [
        {
            title: 'ESTADO Compras',
            extend: 'print',
            text: 'Imprimir',
            autoPrint: true,
            exportOptions: {
                columns: ':visible',
            },
            customize: function (win) {
                $(win.document.body).find('table').addClass('display').css('font-size', '10px');
                $(win.document.body).find('tr:nth-child(odd) td').each(function(index){
                    $(this).css('background-color','#D0D0D0');
                });
                $(win.document.body).find('h1').css('text-align','center');
            }
        
        },
       {
            title: 'ESTADO Compras',
            extend: 'pdfHtml5',
            text: 'PDF',
            orientation : 'portrait',
            pageSize : 'A4',
      
            exportOptions: {
                modifier: {
                    page: 'current'
                }
                // ,
                // columns: [ 0, 1, 2, 3, 5, 6, 7 ]
                // },
                // customize: function ( doc ) {
                // doc.content[1].table.widths = [
                // '5%',
                // '30%',
                // '30%',
                // '10%',
                // '10%',
                // '10%',
                // '5%'
                // ]
            }

        },
         {
            title: 'ESTADO Compras',
            extend: 'excelHtml5',
            text: 'Excel',
            customize: function(xlsx) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
 
                // Loop over the cells in column `C`
               // $('row c[r^="C"]', sheet).each( function () {
                    // Get the value
                    // if ( $('is t', this).text() == 'New York' ) {
                    //     $(this).attr( 's', '20' );
                    // }
                //});
            }
        }


    ],"lengthMenu": [
                            [
                                -1
                            ],
                            [
                                "Todos"
                            ]
                        ],
                 "searching": false,
            "order": [
                [3, "asc"]
            ],
            // "columnDefs": [
            //     {
            //         "targets": [0],
            //         "visible": false,
            //         "searchable": false

            //     } ,
            //         {
            //           "targets": [ 2,4,5 ],
            //            "visible": true,
            //           "searchable": false
            //        }
            // ],
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
    //         ,
    //         drawCallback: function () {
    //   var api = this.api();
    //   $( api.table().footer() ).html(
    //     api.column( 7, {page:'current'} ).data().sum()
    //   );
    // }
        });

          
        $('#ac').click( function () {
         var total = t2.column( 7 ).data().sum();


            Swal.fire(' Total : $'+total.toFixed(2))
        
        } );
  
                    
                     // window.alert( total);
            //      $('#total2').val(total.toFixed(2));
                       
                      
                

    
                

    });
</script>

<script>

    $(function () { // fecha de datepicker por defecto le paso la de hoyY-m-d
        $("#desde,#hasta").datepicker();

        $("#desde,#hasta").datepicker("option", "dateFormat", 'yy-mm-dd');
         $("#desde,#hasta").datepicker('setDate', new Date());
    });
    //         
</script>

{% endblock %}
