<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}1240{% endblock %}</title>

    {% block stylesheets %}

        {#<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">#}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ asset('favicons.png') }}">

        <title>1240{{ "now"|date("Y") }}</title>

        {#<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />#}
        {# <link rel="stylesheet" href="{{ asset('assets/dist/css/bootstrap.min.css') }}"/> #}
       
{#         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-html5-1.5.6/b-print-1.5.6/sl-1.3.0/datatables.min.css"/> #}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/rg-1.1.1/sc-2.0.1/sl-1.3.1/datatables.css"/>
         {#<link rel="stylesheet" href="{{ asset('DataTables/datatables.min.css') }}" /> #}
         <link rel="stylesheet" href="{{ asset('assets/dist/css/bootstrap.min.css') }}"/>
   
        {# este esta llamando fafas#}
        <link rel="stylesheet" type="text/css"href="{{ asset('assets/css/all.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/jquery-ui/jquery-ui.min.css') }}" /> 

        <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>


        <script type="text/javascript" src="{{ asset('assets/jquery-ui/jquery-ui.js') }}"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>


    {% endblock %}
</head>
<body>

{% block menu %}
    {% include "menu3.html.twig" %}

{% endblock %}

<div class="container-fluid">

<div class="row">
</div>
<div class="row">
    <div class="col-0 col-sm-0 col-lg-2">
    </div>
    <div class="col-12 col-sm-12 col-lg-8" >
        <br> <br> <br>
        
        {% block submenu %}
        {%  include "submenu.html.twig" %}

        {% endblock %}
        </div>
        <div class="col-0 col-sm-0 col-lg-2"></div>

    <div class="container">
    <div class="row">
        <div class="col">
        {% block body %}{% endblock %}

        </div>
    </div>


{# <div class="col-0 col-sm-0 col-lg-1"></div>
<div class="col-12 col-sm-12 col-lg-10">


    </div>
    <div class="col-0 col-sm-0 col-lg-1">
    </div> #}
</div>
{%   block footer %}

    <div class="col-12 col-sm-12 col-lg-12 ">
        <br>
        <br>
        <br>

        <div id="contacto" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header alert-info">

                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {#<script src="{{ asset('build/app.js') }}" ></script>#}
 

  <script type="text/javascript" src="{{ asset('assets/dist/js/js.cookie.js') }}"></script>
    {#//es para guardar cookies en jquery#}
    {# // <script src="{{ asset('asset/assets/js/classie.js') }}"></script> #}
   {# // <script type="text/javascript" src="{{ asset('assets/dist/js/tether.min.js') }}"></script> #}
<script type="text/javascript" src="{{ asset('assets/dist/js/popper.min.js') }}"></script>
   <script type="text/javascript" src="{{ asset('assets/dist/js/bootstrap.min.js') }}"></script>

   <script type="text/javascript" src="{{ asset('assets/js/sweetalert.min.js') }}"></script>

 {#
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-html5-1.5.6/b-print-1.5.6/sl-1.3.0/datatables.min.js"></script>
#}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
{# <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/rg-1.1.1/sc-2.0.1/sl-1.3.1/datatables.js"></script> #}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.5.6/sl-1.3.1/datatables.min.js"></script>

<script>
        $(function($){
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '<Ant',
                nextText: 'Sig>',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                weekHeader: 'Sm',
                dateFormat: 'yy-mm-dd' ,//'dd-mm-yy',

                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
        });
    </script>

    <script>

        $( document ).ready(function() {
            //cliente
            Cookies.remove('cliente_id');
            Cookies.remove('cliente_nombre');
            //equipo
            // Cookies.remove('equipos_nm');//             Cookies.set('cliente_prov', prov);
            // Cookies.remove('eqipos_id');
            // Cookies.remove('equipos_cliente');
        });


        //faltaba al datatbles 
        jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
            return this.flatten().reduce( function ( a, b ) {
                if ( typeof a === 'string' ) {
                    a = a.replace(/[^\d.-]/g, '') * 1;
                }
                if ( typeof b === 'string' ) {
                    b = b.replace(/[^\d.-]/g, '') * 1;
                }

                return a + b;
            }, 0 );
        } );



    </script>

{% endblock %}
</div>
</div>


</body>

</html>
