<nav class="navbar navbar-expand-lg  navbar-dark bg-primary fixed-top">

    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">


        <ul class="nav navbar-nav m-xl-auto">


            <li class="nav-item active dropdown ">
                <a class="navbar-brand cent " href="{{ path('home') }}">

                    <i class="fas fa-home"></i>
                    HOME</a>

                {#<a class="nav-link dropdown-toggle" href="#" id="dropdown01111" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administracion</a>#}
            {#<div class="dropdown-menu" aria-labelledby="dropdown01111">#}

                {#<a class="dropdown-item" href="{{ path('usuarios_index') }}">Usuarios</a>#}
                {#<a class="dropdown-item" href="{{ path('fos_user_change_password') }}">Cambiar Contraseña de  Inicio</a>#}
                {#<a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Editar mi Usuario </a>#}

                {#</div>#}
            {# </li>
            <li class="nav-item active dropdown">
 #}
              
                
        <div class="btn-group" role="group">
            <button id="btnGroupDrop2" type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-user-circle"></i><span> Proveedores</span>
            </button> 
                <div class="dropdown-menu alert-success" aria-labelledby="btnGroupDrop2">
                     <a class="dropdown-item   " href="{{ path('proveedor2_index') }}" > <i class="fas fa-user-circle"></i> <span> Proveedores</span></a>

                <a class="dropdown-item " href="{{ path('comproprovee_index') }}"> <i class="fas fa-file"></i><span> Comprobantes</span></a>


                {# <a class="dropdown-item " href="{{ path('resumen_efechas') }}">Entre Fechas</a> #}


                <a class="dropdown-item " href="{{ path('comproprovee_new') }}"><i class="fas fa-file"></i><span> Carga Comprobante</span></a>

         

              {#  <a class="dropdown-item " href="{{ path('recibo_egreso') }}"> <i class="fas fa-file"></i><span> Egreso</span></a> #}
               <a class="dropdown-item " href="{{ path('comprove_general') }}"> <i class="fas fa-file"></i><span> General</span></a>



        </div>
    </div>
    

            </li>

        </ul>

        {# fa-sign-out #}

        <a class="nav-link  btn btn-outline-warning my-2 my-sm-0" href="{{ path('app_logout') }}">Salir

            <i class="fas fa-arrow-right"></i>
        </a>


    </div>


</nav>


{# 
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">

</nav> #}