
<a class="btn btn-primary" href="{{ path('info_ventas') }}"> <i class="fas fa-file"></i><span> VENTAS</span></a>
{# <button type="button"   class="btn btn-primary">VENTAS</button>  #}

    
<a class="btn btn-warning" href="{{ path('info_compras') }}"> <i class="fas fa-file"></i><span> COMPRAS</span></a>
<a class="btn btn-info" href="{{ path('info_gastos') }}"> <i class="fas fa-file"></i><span> GASTOS</span></a>

<br>
<hr>