<div class="btn-group" role="group" aria-label="Button group with nested dropdown">

    <a href="{{ path('comprobante_new') }}" type="button" class="btn btn-outline-success ">

            <i class="fas fa-id-card "></i>
            <span>Nota de Pedido</span>
        </a>

    <a href="{{ path('notacredito_new') }}" type="button" class="btn btn-outline-danger">

            <i class="fas fa-calculator"></i>

            <span>Nota de Credito</span>
            {# btn-lg #}

        </a>
<a href="{{ path('recibo_new') }}" type="button" class="btn btn-outline-info">
    <i class="fas fa-file-excel"></i>
    <span>Recibo</span>
</a>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop4" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-users"></i><span> Clientes</span>
        </button> 

        <div class="dropdown-menu alert-warning" aria-labelledby="btnGroupDrop4">
              
        <a class="dropdown-item " href="{{ path('persona_index') }}" >Ver Clientes</a>

        <a class="dropdown-item " href="{{ path('resumen') }}">R Diario</a>


        {# <a class="dropdown-item " href="{{ path('resumen_efechas') }}">Entre Fechas</a> #}


        <a class="dropdown-item " href="{{ path('resumen_general') }}">R General</a>


        {# <a class="dropdown-item " href="{{ path('resumen_seleccion') }}">Seleccion</a> #}
        <a class="dropdown-item " href="{{ path('comprobante_index') }}">C Emitidos</a>





        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-file"></i><span> Caja</span>
        </button> 
        <div class="dropdown-menu alert-warning" aria-labelledby="btnGroupDrop1">

        <a class="dropdown-item " href="{{ path('cajadiaria_index') }}">Diaria</a>


        {# <a class="dropdown-item " href="{{ path('resumen_efechas') }}">Entre Fechas</a> #}


        <a class="dropdown-item " href="{{ path('cajadiaria_efechas') }}">Entre Fecha</a>

        <a class="dropdown-item " href="{{ path('recibo_ingreso') }}">Ingreso</a>

       <a class="dropdown-item " href="{{ path('recibo_egreso') }}">Egreso</a>




        </div>
    </div>

<div class="btn-group" role="group">
        <button id="btnGroupDrop2" type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-file"></i><span> ChqTercero</span>
        </button> 
        <div class="dropdown-menu alert-success" aria-labelledby="btnGroupDrop2">

        <a class="dropdown-item " href="{{ path('cheques3ros_index') }}">Ver</a>


        {# <a class="dropdown-item " href="{{ path('resumen_efechas') }}">Entre Fechas</a> #}


        <a class="dropdown-item " href="{{ path('cheques3ros_new') }}">Ingresar Nuevo</a>

        {# <a class="dropdown-item " href="{{ path('recibo_ingreso') }}">Ingreso</a>

       <a class="dropdown-item " href="{{ path('recibo_egreso') }}">Egreso</a>
 #}<a class="dropdown-item " href="{{ path('banco_index') }}">Bancos</a>



        </div>
    </div>

    <a href="{{ path('info') }}" type="button" class="btn btn-outline-info">
     <i class="fas fa-file"></i>
    <span>INFO
    </span>
</a>


</div>

    <br>
    <br>