{% extends 'base.html.twig' %}

{% block title %}Edit Comprobante{% endblock %}

{% block body %}
    <h1>Edit Comprobante</h1>

    {{ include('comprobante/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comprobante_index') }}">back to list</a>

    {{ include('comprobante/_delete_form.html.twig') }}
{% endblock %}
