{% extends 'base.html.twig' %}

{% block title %}Comprobante index{% endblock %}

{% block body %}
<div class="row">
<div class="col-1"></div>

<div class="col-10">



    <h1>Comprobantes</h1>

<table class="table table-striped display dt-responsive " id="data">

        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Ctacte</th>
                {# <th>TcmpId</th> #}
                {# <th>CompPdventa</th> #}
                <th>Numero</th>
                {# <th>CompSubtot1</th> #}
                {# <th>CompDescPctje</th> #}
                {# <th>CompDescuento</th> #}
                {# <th>CompImpuest</th> #}
                {# <th>CompSubtot2</th> #}
                {# <th>AivaId</th> #}
                {# <th>CompTotiva</th> #}
                <th>Total</th>
                <th>Cliente</th>
                {# <th>CompObservaciones</th> #}
                {# <th>MoneId</th> #}
                {# <th>CompCambio</th>
                <th>LogiId</th>
                <th>CompApro</th>
                <th>CompSaldo</th>
                <th>CompFechaVenc</th>
                <th>MepaId</th>
                <th>CompCae</th>
                <th>CompFvcae</th>
                <th>CompAliciva</th>
                <th>CompCbarra</th>
                <th>CompTimestamp</th>
                <th>CompPeriododesde</th>
                <th>CompPeriodohasta</th>
                <th>CompPeriodovtopago</th>
                <th>CompNogravado</th>
                <th>CompExento</th>
                <th>CompPerciva</th> #}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for comprobante in comprobantes %}
            <tr>
                <td>{{ comprobante.id }}</td>
                <td>{{ comprobante.compFecha ? comprobante.compFecha|date('d-m-Y') : '' }}</td>
                <td>{{ comprobante.compCtacte ? 'Yes' : 'No' }}</td>
                {# <td>{{ comprobante.tcmpId }}</td> #}
                {# <td>{{ comprobante.compPdventa }}</td> #}
                <td>{{ comprobante.compNumero }}</td>
                {# <td>{{ comprobante.compSubtot1 }}</td>
                <td>{{ comprobante.compDescPctje }}</td>
                <td>{{ comprobante.compDescuento }}</td>
                <td>{{ comprobante.compImpuest }}</td>
                <td>{{ comprobante.compSubtot2 }}</td>
                <td>{{ comprobante.aivaId }}</td>
                <td>{{ comprobante.compTotiva }}</td> #}
                <td class="text-right">$
                    {{ comprobante.compTotal | number_format(2)}}</td>

                <td>{{ comprobante.Cliente }}</td>


                {# <td>{{ comprobante.compConcepto }}</td>
                <td>{{ comprobante.compObservaciones }}</td>
                <td>{{ comprobante.moneId }}</td>
                <td>{{ comprobante.compCambio }}</td>
                <td>{{ comprobante.logiId }}</td>
                <td>{{ comprobante.compApro ? 'Yes' : 'No' }}</td>
                <td>{{ comprobante.compSaldo }}</td>
                <td>{{ comprobante.compFechaVenc ? comprobante.compFechaVenc|date('Y-m-d') : '' }}</td>
                <td>{{ comprobante.mepaId }}</td>
                <td>{{ comprobante.compCae }}</td>
                <td>{{ comprobante.compFvcae }}</td>
                <td>{{ comprobante.compAliciva }}</td>
                <td>{{ comprobante.compCbarra }}</td>
                <td>{{ comprobante.compTimestamp ? comprobante.compTimestamp|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comprobante.compPeriododesde ? comprobante.compPeriododesde|date('Y-m-d') : '' }}</td>
                <td>{{ comprobante.compPeriodohasta ? comprobante.compPeriodohasta|date('Y-m-d') : '' }}</td>
                <td>{{ comprobante.compPeriodovtopago ? comprobante.compPeriodovtopago|date('Y-m-d') : '' }}</td>
                <td>{{ comprobante.compNogravado }}</td>
                <td>{{ comprobante.compExento }}</td>
                <td>{{ comprobante.compPerciva }}</td> #}
                <td>
<a class="btn btn-outline-primary" href="{{ path('comprobante_show', {'id': comprobante.id}) }}">Ver</a>

                    {# <a href="{{ path('comprobante_edit', {'id': comprobante.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="35">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            "order": [
                [0, "ASC"]
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false

                } ,
                    {
                      "targets": [4 ,2,6],
                       "visible": true,
                      "searchable": false
                   }
                   ,
                    {
                      "targets": [1,3,5 ],
                       "visible": true,
                      "searchable": true
                   }
            ],
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }

        });
    });
</script>
</div>

<div class="col-1">



</div>

</div>

    {# <a href="{{ path('comprobante_new') }}">Create new</a> #}
{% endblock %}
