{% extends 'base.html.twig' %}

{% block body %}
<div
    class="row">
    {# <div class="col-1"></div> #}
    <div class="col-md-4 order-md-2 order-mb-2 mb-4">

        <button aria-controls="collapseOne" aria-expanded="true" class="btn  btn-success btn-block" data-target="#collapseOne" data-toggle="collapse" type="button">


            Pedido
        </button>


        <hr>

        <a class="btn btn-info btn-block " data-target="#myModal" data-toggle="modal">Buscar Articulos</a>


        <hr>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#cargaManual" data-whatever="Proucto Sin Codigo">Carga Manual</button>
        <hr>

        <button class=" btn  btn-danger btn-block" id="btn_up">Quitar Item</button>


        <hr>

        <h6>
            <label>Descuento:</label>
        </h6>
        <input class="form-control" id="pesdesc" name="pesdesc" readonly required="required" style="border-color: blue;text-align: center;font-weight: bold;" type="text" value="">
        <br>

        <h5>
            <label>Total:</label>
        </h5>
        <input class="form-control" id="total" name="total" readonly required="required" style="border-color: blue;text-align: center;font-weight: bold;font-size: x-large;" type="text" value="">


        <hr>
        <input class="btn  btn-primary btn-block " id="btnCrear" type="button" value="Finalizar Pedido">


        <hr>


    </div>

    <div
        class="col-8">

        <!-- Modal informe tarticulos-->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Seleccionar Articulo</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div
                        class="modal-body ">

                        {# <table class="table table-responsive-sm table-striped table-bordered display dt-responsive "
                        id="myTable"> #}

                        <table class="table table-responsive-sm  table-bordered display dt-responsive" id="tarticulo" style="width:100%">

                            <thead>
                                <tr>
                                    <th >Id</th>

                                    <th  >Cod</th>

                                    <th >Descripcion</th>


                                    <th >Precio</th>

                                </tr>
                                {# - {{ articulo.marca }} #}
                            </thead>
                            <tbody>
                                {% for articulo in articulos %}
                                    <tr>
                                        <td>{{ articulo.id }}</td>
                                        <td>{{ articulo.artiCodigoPropio|trim }}</td>



                                        <td>{{ articulo.artiNombre }}</td>
                                        <td>{{ articulo.artiPvp |number_format(2, '.', '') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <h4>
                                    <label>
                                        Cantidad:</label>
                                </h4>
<input  class="form-control" id="cantidad" maxlength="20" min="0" name="cantidad" onclick="this.select();" step="0.1" style="text-align: center;font-weight: bold;font-size: x-large;" type="number">

                                <h4>
                                    <label>
                                        Descuento:</label>
                                </h4>
                                <input class="form-control" id="descuento" max="100" maxlength="20" min="0" name="descuento" onchange="changeHandler(this)" onclick="this.select();" style="text-align: center;font-weight: bold;font-size: x-large;" type="number" value="0">
                            </div>
                            <div class="col-2"></div>


                        </div>


                        <br>
                        <button class="btn btn-success btn-block" id="btn_down">Agregar</button>

                        <div class="modal-footer">

                            <button class="btn  btn-danger btn-block" data-dismiss="modal" type="button">Cancelar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header alert-success" id="headingOne">
                    <h2 class="mb-0"></h2>
                </div>

                <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
                    <div class="card-body">
                        <h4>
                            <label>Fecha</label>
                        </h4>
                        <input class="form-control" id="fecha" name="fecha" required="required" style="border-color: blue" type="text" value="">
                        <br>

                        <h4>
                            <label>Cliente</label>
                        </h4>

                        <input class="form-control" hidden id="ID" name="ID" readonly required="required" style="border-color: blue" type="text" value="">
                        <button type="button" class="btn btn-block " data-target="#modal_cliente" data-toggle="modal" >
                            <input class="form-control" id="nombre" name="nombre" readonly required="required" style="border-color: blue" type="text" value="">
                        </button>
                        <br>
                        <h4>
                            <label>Observaciones :</label>
                        </h4>

                        <textarea class="form-control" id="observ" name="observ" rows="2" style="border-color: blue" type="text"></textarea>
                        <br>
                        <h4>
                            <br>
                            <label for="cventa">Condicion de Venta :</label>
                        </h4>
                        <select class="form-control" id="cventa" style="border-color: blue">
                            <option selected value="0">CONTADO</option>
                            <option value="1">CUENTA CORRIENTE</option>
                        </select>

                        <br>


                    </div>
                </div>
            </div>
            {# <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
            <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-warning collapsed" data-target="#collapseTwo" data-toggle="collapse" type="button">
            
                                Detalle
                            </button>
                        </h2>
                    </div>
                    <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample" id="collapseTwo">
                        <div class="card-body">
                        <br>
            
            
            <br><br>
            
                        </div>
                    </div>
                </div>
                {# <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse" type="button">
                                Collapsible Group Item #3
                            </button>
                        </h2>
                    </div>
                    <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample" id="collapseThree">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div> #}
        </div>

       
<nav class="navbar navbar-dark bg-primary">
{# <a class="navbar-brand " href="#">DETALLE</a> #}
<span class="" style="color:white;">Detalle</span>



</nav>


        

        {#<form id="formtabla" method="post" class="form-control" enctype="multipart/form-data" estababa abajo dt-responsive nowrap>#}
        <table class="table   table-bordered nowrap" id="myTable2">


            <thead>
                <tr>
                    <th>Id</th>
                    <th style="width:3px;">#</th>
                    <th>Cod</th>
                    <th>Descripcion</th>

                    <th>Precio</th>
                    <th style="width:3px;">D%</th>
                    <th>PFinal</th>
                    <th>STotal</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
      


            <div class="row"> <div class="col-2 ">
                <br>


            </div>
            <div class="col-8"></div>

            <div class="col-2">
                <br×</span </div> </div> {# <div class="btn-group"> #} {# <button class="btn btn-success" id="pedido" type="button">Cuerpo</button> <button class="btn btn-warning" id="detalle" type="button">Detalle</button> </div> <br> <hr> #} {#modal#} <div aria-hidden="true" aria-labelledby="modalLabel" class="modal " id="modal_cliente" role="dialog" tabindex="-1"> <div class="modal-dialog modal-lg "> <div class="modal-content"> <div class="modal-header breadcrumb"> <button class="close" data-dismiss="modal" type="button"> <span aria-hidden="true">>
                    <span class="sr-only">Close</span>
                </button>
                <h3>Seleccionar un cliente</h3>


            </div>
            {# <div class="modal-body ">
                                <div class="form-group">
                                    <label for="sel1">Filtrar Por ZONA:</label>
                                    <select class="form-control" id="sel1">
            
            
                                        {% for zonas in zona %}
                                            <option value="{{ zonas.zonaNomb }}">{{ zonas.zonaNomb }}</option>
                                        {% endfor %}
            
                                        <option selected value="">Todas Las Zonas</option>
                                    </select>
                                </div> #}


            <table class="table   table-bordered nowrap" id="datatable" style="width:100%">


                <thead>
                    <tr>
                        <th>Num</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for persona in personas %}
                        <tr>
                            <td>{{ persona.nrolegajo }}</td>

                            <td>{{ persona.nombre }}</td>


                            <td>{{ persona.direccion }}</td>


                            <td>
                                <a class="btn btn-outline-primary" data-dismiss="modal" href="#" onclick="clie({{ persona.id }}, '{{  persona.nrolegajo }} - {{  persona.nombre }} - {{  persona.direccion }}')">selec</a>


                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <div aria-label="group button" class="btn-group btn-group" role="group">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" data-dismiss="modal" role="button" type="button">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="modal fade" id="cargaManual" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carga Manual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Descripcion:</label>
            <input type="text" class="form-control" value="Producto Sin Codigo" id="cmDescripcion">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Cantidad:</label>
            <input  type="number" step="1" min="0" value="1" name="" class="form-control" id="cmCantidad">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Precio: $</label>
            <input  type="number" step="0.01" min="0" value="1.00"  class="form-control" id="cmPrecio">
          </div>
    <button class="btn btn-success btn-block" id="btn_cm" >Agregar</button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
       
         
      </div>
    </div>
  </div>
</div>

</div>
<script>function changeHandler(val) {
    if (Number(val.value) > 100) {
        val.value = 100
    }
    if (Number(val.value) < 0) {
        val.value = 0
    }

}
</script>
<script>$(document).ready(function () {


    // $('.pedido').modal('show');
    // $('#pedido').modal('hide');
    $('#total').val('0.00');
    $('#cantidad').val('1');
    $('#pesdesc').val('0.00');
    //            $('#tres').hide();
    //            $('#dos').hide();
    // setTimeout(function(){

    // }, 800);
});

</script>

<script>function clie(id, n) { //           alert('hola');
    document.getElementById('ID').value = id;
    document.getElementById('nombre').value = n;
    $("#dos").show();
    $("#uno").hide();
    $("#tres").hide();
    // swal("Seleccionar Condicion de VENTA", "No Olvidar");
    // swal({
    // title: "Seleccionar Condicion de VENTA",
    // text: "No OLVIDAR",
    // icon: "warning",
    // button: "OK",
    // dangerMode: true,
    // })

    // $("#cliente_nomb").show();

    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-warning'
        },
        buttonsStyling: false
    })

    swalWithBootstrapButtons.fire({
        title: 'Seleccionar Condicion de VENTA',
        // text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'CONTADO',
        cancelButtonText: 'CTACTE',
        reverseButtons: true
    }).then((result) => {
        if (result.value) {
            document.getElementById('cventa').value = '0';
            swalWithBootstrapButtons.fire('Contado', 'Condicion de Venta Contado.', 'success')
        } else if (
            // Read more about handling dismissals
                result.dismiss === Swal.DismissReason.cancel
        ) {
            document.getElementById('cventa').value = '1';
            swalWithBootstrapButtons.fire('CTACTE', 'Condicion de Venta Ctacte.', 'success')
        }
    });
    $('.collapse').collapse();

}</script>
<script>$(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    var data = $('#datatable').DataTable({
        "columnDefs": [
            {
                "targets": [2],
                "visible": false
            }
        ],

        "iDisplayLength": 200,
        destroy: true,
        responsive: true,
        // select: true,


        language: {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }

    });
    // data.column(3).search($('#sel1').val()).draw();

    // $("#sel1").change(function () {
    //     var i = 3;
    //     data.column(i).search($('#sel1').val()).draw();
    // });
});</script><script>$(function () { // fecha de datepicker por defecto le paso la de hoy
    $("#fecha").datepicker();

    $("#fecha").datepicker("option", "dateFormat", 'yy-mm-dd');
    $("#fecha").datepicker('setDate', new Date());
});
//         </script>
 <script>

    $("#cantidad").keydown(function (e) { // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [
                        46,
                        8,
                        9,
                        27,
                        13,
                        110,
                        190
                    ]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                        (e.keyCode >= 35 && e.keyCode <= 40)) { // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    // if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    //    e.preventDefault();
                    // }
                });
    
                $("#total").keydown(function (e) { // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [
                        46,
                        8,
                        9,
                        27,
                        13,
                        110,
                        190
                    ]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                        (e.keyCode >= 35 && e.keyCode <= 40)) { // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });
    
    
    $(document).ready(function () {

    
                    var t1 = $('#tarticulo').DataTable({
    
                         responsive: true,
                   
                         "select": true,
                        //                "jQueryUI": true,
                        "lengthMenu": [
                            [
                                15, 25,50, -1
                            ],
                            [
                                15, 25,50, "Todos"
                            ]
                        ],
                        order: [
                            [1, 'asc']
                        ],
    
                        columnDefs: [
                            { "width": "5%",
                             "targets": [1] ,
                              "visible": true,
                             "searchable": true
                            },
                             { "width": "75%",
                             "targets": [2] ,
                              "visible": true,
                                "searchable": true
                            },
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
    
                            }, {
                                "width": "20%",
                                "targets": [3],
                                "visible": true,
                                "searchable": false
                            }



                        ], 
    
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Arti _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "->",
                                "sPrevious": "<-"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
    
                    });
    
    
                    var t2 = $('#myTable2').DataTable({
    
                        responsive: true,
                 
    
                        //                "jQueryUI": true,
                        "paging": false,
                        "info": false, // bottom info
                        "bFilter": false, // search
                        "compact": true,
                        "destroy": true,
                        "select": true,
                        //
                        // //                "order": [[ 2, "desc" ]],
                        "ordering": false,
                        columnDefs: [
                            {
    
                                "targets": [
                                    0, 2
                                ], // , 2,4],6
    
                                "visible": false
    
                            }
    
                        ],
                        //                "searching": false,
                        //                "paging": false,
    
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": " ",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                        
                    function calcularTotal() {
                        var tdesc = 0;
                        var total = 0;
                        var stdesc = 0;
                        var subtotal = 0;
                        t2.rows().data().each(function (datos) {
                            subtotal = datos[1] * datos[6];
                            total = total + subtotal;
                            stdesc = datos[1] * datos[4];
                            tdesc = tdesc + stdesc;
                        });
                        // window.alert(total);
                        $('#total').val(total.toFixed(2));
                        $('#pesdesc').val((tdesc - total).toFixed(2));
    
                        // $('#appbundle_compnp_compTotal').val(total);
                    };
    
                    $('#tarticulo tbody').on('click', 'tr', function () {
                        if ($(this).hasClass('selected ')) {
                            $(this).removeClass('selected ');
                           

                        } else {
                            t1.$('tr.selected').removeClass('selected t');
                            $(this).addClass('selected');
                            $('#cantidad').focus();
                            var WH = $(window).height(); 
                            var SH = $('#myModal').prop("scrollHeight");

                            $('#myModal').stop().animate({scrollTop: SH-WH}, 1000);
                        }
                    });
    
    
                    $('#myTable2 tbody').on('click', 'tr', function () {
                        if ($(this).hasClass('selected ')) {
                            $(this).removeClass('selected ');
                        } else {
                            t2.$('tr.selected').removeClass('selected ');
                            $(this).addClass('selected ');
                        }
                    });
    
                    // boton verde añadir abajo y eliminar arriba
                    $('#btn_down').click(function () { // si no selecciono ninguna tabla no hace nada
                        var cantidad = document.getElementById("cantidad").value;
                        var cant = parseFloat(cantidad);
                        var descuento = document.getElementById("descuento").value;
                        var multdesc = 1 - parseFloat(descuento) / 100; // anterior parseFloat( descuento )/ 100 +1;
                        var desc = parseFloat(descuento);
                        // {# &&(cant > (-1) ) #}
    
                        if ((t1.rows('.selected').data().length != 0) && (cantidad != "")) {
                            var data = t1.rows('.selected').data();
                            var pf = 0;
                            var st = 0;
                            var detalle = data[0][2];
                            // if (desc > 0){
    
                            pf = (data[0][3] * multdesc).toFixed(2); // en ves de dividir multiplica ahora
    
                            st = ((cant * data[0][3]) * multdesc).toFixed(2);
    
                            // }
    
                            t2.row.add([
                                data[0][0],
                                cant,
                                data[0][1],
    
                                detalle.substring(0, 35),
                                data[0][3],
                                desc,
                                pf,
    
                                st
    
    
                            ]).draw(false);
    
                            // t1.row('.selected').remove().draw( false );
                            $("#myModal").modal('toggle');
                            calcularTotal();
                            $('#cantidad').val('1');
                            $('#descuento').val('0');
                        } else {
                            alert('Falta Seleccionar Articulo o la Cantidad es 0')
                        }
    
                    });

                     
                    // boton rojo añadir arriba y eliminar abajo
                    $('#btn_up').click(function () { // si no selecciono ninguna tabla no hace nada
                        if (t2.rows('.selected').data().length != 0.00) {
    
                            t2.row('.selected').remove().draw(false);
                            calcularTotal();
    
                        }else{
    
                            Swal.fire({
                            type: 'error',
                            title: 'Primero Seleccioné un Items'
    
    
                            //footer: '<a href>Why do I have this issue?</a>'
                            })
                        }
    
                    });
    
                    $('#btnCrear').click(function () { // 
                        $('#btnCrear').attr("disabled", true);
    
                        var datos = t2.rows().data();
                       // console.log(datos);
                      //  console.log(JSON.stringify(datos));
                       // alert(JSON.stringify(datos));
                        var idclie = document.getElementById("ID").value;
    
                        if ((t2.rows().data().length != 0) && ('' != idclie)) {
                            var ctotal = document.getElementById("total").value;
                            var observ = document.getElementById("observ").value;
                            var cfecha = document.getElementById("fecha").value;
                            var cventa = document.getElementById("cventa").value;
                            // var cenvio = document.getElementById("cenvio").value;
    
                            $.ajax({
                                url: "{{ path('p_nuevo') }}",
                                data: {
                                    array : JSON.stringify(datos),
                                    ctotal: ctotal,
                                    observ: observ,
                                    cfecha: cfecha,
                                    idclie: idclie,
                                    'largo': datos.length - 1,
                                    'cventa': cventa
                                    // ,
                                    // 'cenvio': cenvio
                                },
                                type: "post",
                                dataType: "json",
                                success: function (data) { //                        $('#resp').html(data);
                                }
    
                            }).then(function (data) {
                               
                                var aa = "../comprobante/";
                                var ab = aa + data.id;
                                
                                if (data.caja != 0) {
                                     var bb = "../cajadiaria/";
                                     var ac = bb + data.caja;
                                     location.assign(ac); // cuando termina lo lleva lista de servicio habria trer el ide para llevarlo al show

                                }else{

                                    location.assign(ab); // cuando termina lo lleva lista de servicio habria trer el ide para llevarlo al show
                                }
    
                                
    
    
                            });
                        } else {
                            $('#btnCrear').attr("disabled", false);
                            //window.alert('Faltan Datos, Completar');
                            Swal.fire({
                            type: 'error',
                                title: 'Faltan Datos',
                                footer: '<h2>Completar</h2>'
    
                            })
                        }
                    });
    
                $('#btn_cm').click(function () { 

                    // si no selecciono ninguna tabla no hace nada
                         var desc= document.getElementById("cmDescripcion").value;
                       var cantidad = document.getElementById("cmCantidad").value;
                        var cant = parseFloat(cantidad);
                        var precio = document.getElementById("cmPrecio").value;
                        
                        var pvp = parseFloat(precio);
                        // alert(cantidad);
    
                        if ((desc!= "") && (cantidad != "")) {
                           
                            // if (desc > 0){
    
                            pf = pvp.toFixed(2); // en ves de dividir multiplica ahora
    
                            st = ((cant * pvp).toFixed(2));
    
                            // }
    
                            t2.row.add([
                                0,
                                cant,
                                0,
    
                                desc.substring(0, 35),
                                pvp,
                               0,
                                pf,
    
                                st
    
    
                            ]).draw(false);
    
                            
                            $("#cargaManual").modal('toggle');
                            calcularTotal();
                            $('#cmCantidad').val('1');
                            
                            $('#cmDescripcion').val('Producto Sin Codigo');
                        } else {
                            alert('Corregir Carga Manual')
                        }
    
                    });     
    


                  
                $('.dataTables_paginate').hide();
     });
                


</script>
<style>
    tbody tr.selected {
    font-weight : bold;
    color : green;
    /*box-shadow: 5px -5px 5px 5px #444;*/
    box-shadow: 5px 5px 25px #222 inset;
    /*//#000000;*/
    background - color : #003d4d;
   

}
 </style>



{% endblock %}
