{% extends 'base.html.twig' %}

{% block title %}Comprobante{% endblock %}

{% block body %}
    {% if comprobante.TcmpId == 31 %}
         <h1>Comprobante  NP</h1>
         <a class="btn  float-right" href="{{ path('pdfnp', {'id': comprobante.id}) }}" target="_blank">  <i class="fas fa-print fa-3x""></i></a>

    {% elseif comprobante.TcmpId == 33 %}
          <h1>Comprobante  NC</h1>
          <a class="btn  float-right" href="{{ path('pdfnp', {'id': comprobante.id}) }}" target="_blank">  <i class="fas fa-print fa-3x""></i></a>

    {% elseif comprobante.TcmpId == 32 %}
         <h1>Comprobante  Recibo</h1>
         <a class="btn  float-right" href="{{ path('pdfrec', {'id': comprobante.id}) }}" target="_blank">  <i class="fas fa-print fa-3x""></i></a>

    {% endif %}
   
 
    <table class="table">
        <tbody>
            {# <tr>s
                <th>Id</th>
                <td>{{ comprobante.id }}</td>
            </tr> #}
            <tr>
                <th style="text-align: right;">Numero : {{ comprobante.compNumero }}</th>
                <th style="text-align: right;">Fecha : {{ comprobante.compFecha ? comprobante.compFecha|date('Y-m-d') : '' }}</th>
            </tr> 
            <t
           
            {# <tr>
                <th>TcmpId</th>
                <td>{{ comprobante.TcmpId }}</td>
            </tr> #}
            {# <tr>
                <th>CompPdventa</th>
                <td>{{ comprobante.compPdventa }}</td>
            </tr> #}
            
            <tr>
                <th>Cliente : {{ comprobante.Cliente }}</th>
                <th style="text-align: right;">CtaCte : {{ comprobante.compCtacte ? 'Si' : 'No' }} </th>
            </tr>
          
            <tr>
                <th>Observaciones:  {{ comprobante.compObservaciones }}</th>
                <th style="text-align: right;"> TOTAL : $ {{ comprobante.compTotal }}</th>
            </tr>
            <tr>
                <th></th>
                <th style="text-align: right;"> SALDO : $ {{ comprobante.compSaldo }}</th>
            </tr>

            {# <tr>
                <th>CompDescPctje</th>
                <td>{{ comprobante.compDescPctje }}</td>
            </tr> #}
            {# <tr>
                <th>CompDescuento</th>
                <td>{{ comprobante.compDescuento }}</td>
            </tr> #}
            {# <tr>
                <th>CompImpuest</th>
                <td>{{ comprobante.compImpuest }}</td>
            </tr>
            <tr>
                <th>CompSubtot2</th>
                <td>{{ comprobante.compSubtot2 }}</td>
            </tr>
            <tr>
                <th>AivaId</th>
                <td>{{ comprobante.aivaId }}</td>
            </tr>
            <tr>
                <th>CompTotiva</th>
                <td>{{ comprobante.compTotiva }}</td>
            </tr>
            
            <tr>
                <th>CompConcepto</th>
                <td>{{ comprobante.compConcepto }}</td>
            </tr>
           
            <tr>
                <th>MoneId</th>
                <td>{{ comprobante.moneId }}</td>
            </tr>
            <tr>
                <th>CompCambio</th>
                <td>{{ comprobante.compCambio }}</td>
            </tr>
            <tr>
                <th>LogiId</th>
                <td>{{ comprobante.logiId }}</td>
            </tr>
            <tr>
                <th>CompApro</th>
                <td>{{ comprobante.compApro ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CompSaldo</th>
                <td>{{ comprobante.compSaldo }}</td>
            </tr>
            <tr>
                <th>CompFechaVenc</th>
                <td>{{ comprobante.compFechaVenc ? comprobante.compFechaVenc|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MepaId</th>
                <td>{{ comprobante.mepaId }}</td>
            </tr>
            <tr>
                <th>CompCae</th>
                <td>{{ comprobante.compCae }}</td>
            </tr>
            <tr>
                <th>CompFvcae</th>
                <td>{{ comprobante.compFvcae }}</td>
            </tr>
            <tr>
                <th>CompAliciva</th>
                <td>{{ comprobante.compAliciva }}</td>
            </tr>
            <tr>
                <th>CompCbarra</th>
                <td>{{ comprobante.compCbarra }}</td>
            </tr>
            <tr>
                <th>CompTimestamp</th>
                <td>{{ comprobante.compTimestamp ? comprobante.compTimestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CompPeriododesde</th>
                <td>{{ comprobante.compPeriododesde ? comprobante.compPeriododesde|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CompPeriodohasta</th>
                <td>{{ comprobante.compPeriodohasta ? comprobante.compPeriodohasta|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CompPeriodovtopago</th>
                <td>{{ comprobante.compPeriodovtopago ? comprobante.compPeriodovtopago|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CompNogravado</th>
                <td>{{ comprobante.compNogravado }}</td>
            </tr>
            <tr>
                <th>CompExento</th>
                <td>{{ comprobante.compExento }}</td>
            </tr>
            <tr>
                <th>CompPerciva</th>
                <td>{{ comprobante.compPerciva }}</td>
            </tr> #}
        </tbody>
    </table>
    <hr>
    {% if comprobante.TcmpId == 32 %}
        <h1>Detalle Recibo </h1>
      {% else %}   
  
<h1>Detalle</h1>

<table class="table">
    <thead>
        <tr>
<th>Cantidad</th>

            {# <th>Id</th> #}
            {# <th>ProdId</th> #}
            <th>Articulo</th>
            <th>Precio</th>
            <th>Descuento</th>
{# <th>ProdImpdto</th>  #}

            <th>Total</th> 

        </tr>
    </thead>
    <tbody>
        {% for detacomp_fac in detacomp_facs %}
            <tr>
<td style="text-align: center;">{{ detacomp_fac.prodCant  }}</td>

                {# <td>{{ detacomp_fac.id }}</td> #}
                {# <td>{{ detacomp_fac.prodId }}</td> #}
                <td>{{ detacomp_fac.prodDescri }}</td>
<td style="text-align: right;">$
    {{ detacomp_fac.prodPvp| number_format(2) }}</td>

<td style="text-align: right;">$
    {{ detacomp_fac.prodCant  * detacomp_fac.prodImpdto | number_format(2)}}</td>



{# <td>{{ detacomp_fac.prodImpdto }}</td>#}


<td style="text-align: right;">$ {{ (detacomp_fac.prodCant  * (detacomp_fac.prodPvp - detacomp_fac.prodImpdto)) | number_format(2) }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

  {% endif %}

    {# <a href="{{ path('comprobante_index') }}">back to list</a> #}

    {# <a href="{{ path('comprobante_edit', {'id': comprobante.id}) }}">edit</a> #}

    {# {{ include('comprobante/_delete_form.html.twig') }} #}
{% endblock %}
