
{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    {# <div class="col-1"></div> #}
<div class="col-md-4 order-md-2 order-mb-2 mb-4">

{# <button aria-controls="collapseOne" aria-expanded="true" class="btn  btn-success btn-block" data-target="#collapseOne" data-toggle="collapse" type="button"> #}


</button>
   
<h5>
    <label>IMPORTE :</label>
     <hr>
</h5>
<input class="form-control" id="total" name="total" required="required" style="border-color: blue;text-align: center;font-weight: bold;font-size: x-large;" type="text" value="">

<hr>
<input class="btn  btn-primary btn-block " id="btnCrear" type="button" value="Finalizar Comprobante">

<hr>

</div>

<div class="col-8">

<!-- Modal informe tarticulos-->


<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header alert-success" id="headingOne">
            <h2 class="mb-0">

            </h2>
        </div>

        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
            <div class="card-body">
                <h4>
                    <label>Fecha</label>
                </h4>
                <input class="form-control" id="fecha" name="fecha" required="required" style="border-color: blue" type="text" value="">
                    

                
                    <br>
                    <label for="cventa">Comprobantes de  Egreso :</label>
                </h4>
                <select class="form-control" id="cventa" style="border-color: blue">
                    <option  value="25">ORDEN DE PAGO</option>
                    <option value="29">VALE ADELANTO</option>
                    <option value="34">GASTO DE REFRIGERIO Y VIATICO</option>
                    <option selected value="35">GASTO DE ENVIO</option>
                    <option value="36">MANTENIMIENTO Y REPARACION</option>
                    <option value="37">OTROS GASTOS</option>
                   
                </select>
                    <hr class="alert-warning" style="height: 5px;">
                    <br>
                    <h4>
                        <label>Concepto :</label>
                    </h4>

                    <textarea class="form-control" id="concepto" name="concepto" rows="2" style="border-color: blue" type="text"></textarea>
                    
            </div>
        </div>
    </div>

        <br>
        <br>






</div>


        {# <script>
            function changeHandler(val) {
                if (Number(val.value) > 100) {
                    val.value = 100
                }
                if (Number(val.value) < 0) {
                    val.value = 0
                }

            }
        </script> #}

         <script>
            $(document).ready(function () {


                // $('.pedido').modal('show');
                // $('#pedido').modal('hide');
                $('#total').val('0.00');
            // $('#cantidad').val('1');
              //  $('#pesdesc').val('0.00');
                //            $('#tres').hide();
                //            $('#dos').hide();
                // setTimeout(function(){

                // }, 800);
            });
         </script>
         
     
        

        <script>
            $(function () { // fecha de datepicker por defecto le paso la de hoy
                $("#fecha").datepicker();

                $("#fecha").datepicker("option", "dateFormat", 'yy-mm-dd');
                $("#fecha").datepicker('setDate', new Date());
            });
//         </script>


       <script>
            $("#total").keydown(function (e) { // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [
                    46,
                    8,
                    9,
                    27,
                    13,
                    110,
                    190
                ]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) { // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            $(document).ready(function () {
                $('#btnCrear').click(function () {
                     $('#btnCrear').attr("disabled", true);
// var datos = t2.rows().data(); //(t2.rows().data().length != 0) &&
                    var idclie = 44;
                    if ( ('' != idclie)) {
                        var ctotal = document.getElementById("total").value;
                        // var observ = document.getElementById("observ").value;
                        var cfecha = document.getElementById("fecha").value;
                        var cventa = document.getElementById("cventa").value;//en este caso es tipo coprobante
                         var concept = document.getElementById("concepto").value;

                        $.ajax({url: "{{ path('p_egreso') }}",
                            data: {
                                //'array': JSON.stringify(datos),
                                concept : concept,
                                ctotal: ctotal,
                              //  observ: observ,
                                cfecha: cfecha,
                                idclie: idclie,
                                //'largo': datos.length - 1,
                                'cventa': cventa
                                // ,
                                // 'cenvio': cenvio
                            },
                            type: "post",
                            dataType: "json",
                            success: function (data) { //                        $('#resp').html(data);
                            }

                        }).then(function (data) {
                            var aa = "../comprobante/";
                            var ab = aa + data.id;

                           
                                
                                if (data.caja != 0) {
                                     var bb = "../cajadiaria/";
                                     var ac = bb + data.caja;
                                     location.assign(ac); // cuando termina lo lleva lista de servicio habria trer el ide para llevarlo al show

                                }else{

                                    location.assign(ab); // cuando termina lo lleva lista de servicio habria trer el ide para llevarlo al show
                                }

                        });
                    } else {
                        $('#btnCrear').attr("disabled", false);
                        //window.alert('Faltan Datos, Completar');
                        Swal.fire({
                        type: 'error',
                            title: 'Faltan Datos',
                            footer: '<h2>Completar</h2>'

                        })
                    }
                });

                $('.dataTables_paginate').hide();
 });

</script>

<style>
    tbody tr.selected {
    font-weight : bold;
    color : green;
    /*box-shadow: 5px -5px 5px 5px #444;*/
    box-shadow: 5px 5px 25px #222 inset;
    /*//#000000;*/
    background - color : #003d4d;
   

}
 </style>



   {% endblock %}

