
{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    {# <div class="col-1"></div> #}
<div class="col-md-4 order-md-2 order-mb-2 mb-4">

<button aria-controls="collapseOne" aria-expanded="true" class="btn  btn-success btn-block" data-target="#collapseOne" data-toggle="collapse" type="button">

RECIBO
</button>

<br>
                    <h4>
                        <label>Concepto Recibo :</label>
                    </h4>

                    <textarea class="form-control" id="concepto" name="concepto" rows="1" style="border-color: blue" type="text"></textarea>
                    <br>
                    <h4>
                        <label>Observaciones :</label>
                    </h4>

                    <textarea class="form-control" id="observ" name="observ" rows="1" style="border-color: blue" type="text"></textarea>
    <hr>
<h5>
    <label>IMPORTE  Recibo :</label>
</h5>
<input class="form-control" id="total" name="total" required="required" style="border-color: blue;text-align: center;font-weight: bold;font-size: x-large;" type="text" value="">

<hr>
<input class="btn  btn-primary btn-block " id="btnCrear" type="button" value="Finalizar RECIBO">

<hr>

</div>

<div class="col-8">

<!-- Modal informe tarticulos-->


<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header alert-success" id="headingOne">
            <h2 class="mb-0">

            </h2>
        </div>

        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
            <div class="card-body">
                <h4>
                    <label>Fecha</label>
                </h4>
                <input class="form-control" id="fecha" name="fecha" required="required" style="border-color: blue" type="text" value="">
                    <br>

                <h4>
                    <label>Cliente</label>
                </h4>
                <input class="form-control" hidden id="ID" name="ID" readonly required="required" style="border-color: blue" type="text" value="">
                {# <button class="btn btn-block " data-target="#modal_cliente" data-toggle="modal" type="button"> #}
                    <input class="form-control" id="nombre" name="nombre"  readonly required="required" style="border-color: blue" type="text" value="{{ persona.nombre }}">
                {# </button> #}
                <br>
               {#  <h4>
                    <br>
                    <label for="cventa">Condicion de Venta :</label>
                </h4> #}
               {#  <select class="form-control" id="cventa" style="border-color: blue">
                    <option selected value="0">CONTADO</option>
                    <option value="1">CUENTA CORRIENTE</option>
                </select> #}
                    <hr class="alert-warning" style="height: 5px;">
                    
            </div>
        </div>
    </div>

        <br>
        <br>

    <div aria-hidden="true" aria-labelledby="modalLabel" class="modal   " id="modal_cliente" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg " >
<div class="modal-content" >


                <div class="modal-header breadcrumb">
                    <button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">X</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3>Seleccionar un cliente</h3>


                </div>


<table class="table   table-bordered nowrap" id="datatable" style="width:95%;margin-left: auto;margin-right:auto; ">


                        <thead>
                            <tr>
                                <th>Num</th>
                                <th>Nombre</th>
                                {# <th>Direccion</th> #}
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {# {% for persona in personas %} #}
                                <tr>
                                <td>{{ persona.nrolegajo }}</td>

                                <td>{{ persona.nombre }}</td>

                                    <td>
    <a class="btn btn-outline-primary" data-dismiss="modal" href="#" onclick="clie({{ persona.id }}, '{{  persona.nrolegajo }} - {{  persona.nombre }} - {{  persona.direccion }}')"> selec </a>
                                    </td>
                                </tr>
                            {# {% endfor %} #}
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <div aria-label="group button" class="btn-group btn-group" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" data-dismiss="modal" role="button" type="button">Cerrar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>







<table id="table2" class="table  table-striped display dt-responsive">
    <thead>
        <tr>
    


        <th class="text-center">ID</th>

        <th class="text-center">TIPO</th>

        <th class="text-center" >N°</th>

        <th class="text-center" >FECHA</th>
          <th class="text-right">TOTAL</th>
         <th class="text-right">SALDO</th>

       
<th class="text-center">AP</th>
    
    <th width="5%" style="text-align: center" class="alert-info">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">


                            <label class="form-check-label" for="exampleCheck1"><input  type="checkbox" class="form-check-input  " id="selectall"> Todos </label>

                        </div>
                        <div class="col-sm-4"></div>


                    </th>

          
    

        
    </tr>
</thead>
            <tbody>
            {% for uno in unos %}
                <tr>
                

                <td class="text-center">{{ uno.id}}</td>
                <td class="text-center">{{ uno.TIPO}}</td>
                <td class="text-center">{{ uno.NUMERO }}</td>
                <td class="text-center">{{ uno.FECHA ?  uno.FECHA|date('d-M-Y') : 'SIN' }}</td>
                  <td class="text-right">{{ uno.TOTAL}}</td>
                <td class="text-right">{{ uno.SALDO}}</td>
               
                <td class="text-center">{{ uno.APROPIADO }}</td>
                {# <td class="text-right">{{ uno.SALDO}}</td> #}
                 <td class="text-center">#</td>

             
                </tr>
            {% else %}
                <tr>
                    <td colspan="20">Sin Datos</td>
                </tr>
            {% endfor %}

   </tbody> 
    <tfoot>
    <tr>
   
  
    <th class="text-center">ID</th>

    <th class="text-center">TIPO</th>

    <th class="text-center" >N°</th>

    <th class="text-center" >FECHA</th>
       <th class="text-right">TOTAL</th> 
    <th class="text-right">SALDO</th>

  
    <th class="text-center">AP</th>

   <th class="text-center" ><button id="ac" type="button" class="btn btn-outline-dark">Total</button></th>
    
    </tr>
  </tfoot>
</table>

<hr>
</div>
</div>



 <script>



$(document).ready(function() {
       

       var t1 =   $('#table2').DataTable({
        
         "lengthMenu": [
                            [
                                -1
                            ],
                            [
                                "Todos"
                            ]
                        ],
         "searching": false,
            "order": [
                [0, "asc"]
            ],
            columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   7
                }
              ,
                  {
                       "targets": [0],
                    "visible": false,
                    "searchable": false
                   }
 ],
                select: {
                    style:    'multi',
                    selector: 'td:last-child'

                },
            
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
                ,


                    select: {
                        style:    'os',
                        rows: "%d Comprobante Seleccionado"
                    }
            }

            
        });
       $('#total').val('0.00');



            function calcularTotal() {
                var total = 0;

                var subtotal = 0;
//                 t2.rows().data().each(function() {

                if (t1.rows('.selected').data().length > 0){
                    var data = t1.rows('.selected').data();
                    $.each(data, function(indice, ele){

//                       window.alert(ele[2]);
//
                        subtotal = 1 * data[indice][5] ;
                        total = total  + subtotal ;
                    });


                }else {
                    total = 0;
                }

//                 });
//             window.alert(total);
                $('#total').val(total.toFixed(2));
//                $('#total').val('$' + total.formatMoney(2,',','.'));
            }

            $("#selectall").on("click", function() {

                if ($(this).is(':checked')) {
                    t1.rows().select();
                    calcularTotal();
                }else{
                    t1.rows().deselect();
                    calcularTotal();
                }


            });

            t1 // es la variable que toma el datatble con la tabla completa
                .on( 'select', function () { // e, dt, type, indexes
//                     var rowData = table.rows( indexes ).data().toArray();
//                     events.prepend( '<div><b>'+type+' selection</b> - '+JSON.stringify( rowData )+'</div>' );
                    calcularTotal();
                } )
                .on( 'deselect', function () { // e, dt, type, indexes
//                     var rowData = table.rows( indexes ).data().toArray();
//                     events.prepend( '<div><b>'+type+' <i>de</i>selection</b> - '+JSON.stringify( rowData )+'</div>' );
                    calcularTotal();
                } );

           $('#ac').click( function () {
                    var total1 = t1.column( 5 ).data().sum();
                     var total2 = t1.column( 6 ).data().sum();
                    var totales = total1 - total2;

                    Swal.fire(' Total : $'+totales.toFixed(2))
                
                } );
          
            $('#btnCrear').click(function () {
                     $('#btnCrear').attr("disabled", true);
// var datos = t2.rows().data(); //(t2.rows().data().length != 0) &&
                    var idclie = '{{ persona.id }}';
                   if (t1.rows('.selected').data().length > 0){
                         var datos = t1.rows('.selected').data();
                        var ctotal = document.getElementById("total").value;
                        var observ = document.getElementById("observ").value;
                        var cfecha = document.getElementById("fecha").value;
                        var cventa = 1;
                         var concept = document.getElementById("concepto").value;

                        $.ajax({url: "{{ path('p_recibo02') }}",
                            data: {
                                'array': JSON.stringify(datos),
                                concept : concept,
                                ctotal: ctotal,
                                observ: observ,
                                cfecha: cfecha,
                                idclie: idclie,
                                'largo': datos.length - 1,
                                'cventa': cventa
                                // ,
                                // 'cenvio': cenvio
                            },
                            type: "post",
                            dataType: "json",
                            success: function (data) { //                        $('#resp').html(data);
                            }

                        }).then(function (data) {
                            var aa = "../../comprobante/";
                            var ab = aa + data.id;
                                if (data.caja != 0) {
                                     var bb = "../../cajadiaria/";
                                     var ac = bb + data.caja;
                                     location.assign(ac); // cuando termina lo lleva lista de servicio habria trer el ide para llevarlo al show

                                }else{

                                    location.assign(ab); // cuando termina lo lleva lista de servicio habria trer el ide para llevarlo al show
                                }


                        });
                    } else {
                        $('#btnCrear').attr("disabled", false);
                        //window.alert('Faltan Datos, Completar');
                        Swal.fire({
                        type: 'error',
                            title: 'Faltan Datos',
                            footer: '<h2>Completar</h2>'

                        })
                    }
                });

                $('.dataTables_paginate').hide();           
                      
                

    });
</script>


        {# <script>
            function changeHandler(val) {
                if (Number(val.value) > 100) {
                    val.value = 100
                }
                if (Number(val.value) < 0) {
                    val.value = 0
                }

            }
        </script> #}

         <script>
            $(document).ready(function () {


                // $('.pedido').modal('show');
                // $('#pedido').modal('hide');
                $('#total').val('0.00');
            // $('#cantidad').val('1');
              //  $('#pesdesc').val('0.00');
                //            $('#tres').hide();
                //            $('#dos').hide();
                // setTimeout(function(){

                // }, 800);
            });
         </script>
        <script>


            function clie(id, n) { //           alert('hola');
                document.getElementById('ID').value = id;
                document.getElementById('nombre').value = n;


                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-warning'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Seleccionar Condicion de VENTA',
                    // text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'CONTADO',
                    cancelButtonText: 'CTACTE',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        document.getElementById('cventa').value = '0';
                        swalWithBootstrapButtons.fire('Contado', 'Condicion de Venta Contado.', 'success')
                    } else if (
                        // Read more about handling dismissals
                            result.dismiss === Swal.DismissReason.cancel
                    ) {
                        document.getElementById('cventa').value = '1';
                        swalWithBootstrapButtons.fire('CTACTE', 'Condicion de Venta Ctacte.', 'success')
                    }
                });
               //$('.collapse').collapse();

            }
        </script>
        {# "columnDefs": [
                        {
                            "targets": [
                                2
                            ],
                            "visible": false
                        }
                    ], #}


        <script>

            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                var data = $('#datatable').DataTable({
                
                    "iDisplayLength": 200,
                    destroy: true,
                    responsive: false,
                    //select: true,


                    language: {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }

                });
                // data.column(3).search($('#sel1').val()).draw();

                // $("#sel1").change(function () {
                //     var i = 3;
                //     data.column(i).search($('#sel1').val()).draw();
                // });
            });
        </script>


        <script>
            $(function () { // fecha de datepicker por defecto le paso la de hoy
                $("#fecha").datepicker();

                $("#fecha").datepicker("option", "dateFormat", 'yy-mm-dd');
                $("#fecha").datepicker('setDate', new Date());
            });
//         </script>


       <script>
            $("#total").keydown(function (e) { // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [
                    46,
                    8,
                    9,
                    27,
                    13,
                    110,
                    190
                ]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) { // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            $(document).ready(function () {
                
 });

</script>

<style>
    tbody tr.selected {
    font-weight : 500;
    color : blue;
    /*box-shadow: 2px -2px 2px 2px #444;*/
    box-shadow: 2px 2px 15px #222 inset;
  
    background - color : #003d4d;
   

}
 </style>



   {% endblock %}

