{% extends 'base.html.twig' %}

{% block title %}Comprobante{% endblock %}

{% block body %}
 
         <h1>Recibo</h1>
    
   
 <a class="btn  float-right" href="{{ path('pdf_recibo', {'id': comprobante.id}) }}">  <i class="fas fa-print fa-3x""></i></a>
    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ comprobante.id }}</td>
            </tr> #}
            <tr>
                <th>Fecha</th>
                <td>{{ comprobante.compFecha ? comprobante.compFecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CtaCte</th>
                <td>{{ comprobante.compCtacte ? 'Yes' : 'No' }}</td>
            </tr>
            {# <tr>
                <th>TcmpId</th>
                <td>{{ comprobante.TcmpId }}</td>
            </tr> #}
            {# <tr>
                <th>CompPdventa</th>
                <td>{{ comprobante.compPdventa }}</td>
            </tr> #}
            <tr>
                <th>Numero</th>
                <td>{{ comprobante.compNumero }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{ comprobante.Cliente }}</td>
            </tr>
            {# <tr>
                <th>CompDescPctje</th>
                <td>{{ comprobante.compDescPctje }}</td>
            </tr> #}
            {# <tr>
                <th>CompDescuento</th>
                <td>{{ comprobante.compDescuento }}</td>
            </tr> #}
            {# <tr>
                <th>CompImpuest</th>
                <td>{{ comprobante.compImpuest }}</td>
            </tr>
            <tr>
                <th>CompSubtot2</th>
                <td>{{ comprobante.compSubtot2 }}</td>
            </tr>
            <tr>
                <th>AivaId</th>
                <td>{{ comprobante.aivaId }}</td>
            </tr>
            <tr>
                <th>CompTotiva</th>
                <td>{{ comprobante.compTotiva }}</td>
            </tr>
            <tr>
                <th>CompTotal</th>
                <td>{{ comprobante.compTotal }}</td>
            </tr>
            <tr>
                <th>CompConcepto</th>
                <td>{{ comprobante.compConcepto }}</td>
            </tr>
            <tr>
                <th>CompObservaciones</th>
                <td>{{ comprobante.compObservaciones }}</td>
            </tr>
            <tr>
                <th>MoneId</th>
                <td>{{ comprobante.moneId }}</td>
            </tr>
            <tr>
                <th>CompCambio</th>
                <td>{{ comprobante.compCambio }}</td>
            </tr>
            <tr>
                <th>LogiId</th>
                <td>{{ comprobante.logiId }}</td>
            </tr>
            <tr>
                <th>CompApro</th>
                <td>{{ comprobante.compApro ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CompSaldo</th>
                <td>{{ comprobante.compSaldo }}</td>
            </tr>
            <tr>
                <th>CompFechaVenc</th>
                <td>{{ comprobante.compFechaVenc ? comprobante.compFechaVenc|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MepaId</th>
                <td>{{ comprobante.mepaId }}</td>
            </tr>
            <tr>
                <th>CompCae</th>
                <td>{{ comprobante.compCae }}</td>
            </tr>
            <tr>
                <th>CompFvcae</th>
                <td>{{ comprobante.compFvcae }}</td>
            </tr>
            <tr>
                <th>CompAliciva</th>
                <td>{{ comprobante.compAliciva }}</td>
            </tr>
            <tr>
                <th>CompCbarra</th>
                <td>{{ comprobante.compCbarra }}</td>
            </tr>
            <tr>
                <th>CompTimestamp</th>
                <td>{{ comprobante.compTimestamp ? comprobante.compTimestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CompPeriododesde</th>
                <td>{{ comprobante.compPeriododesde ? comprobante.compPeriododesde|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CompPeriodohasta</th>
                <td>{{ comprobante.compPeriodohasta ? comprobante.compPeriodohasta|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CompPeriodovtopago</th>
                <td>{{ comprobante.compPeriodovtopago ? comprobante.compPeriodovtopago|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CompNogravado</th>
                <td>{{ comprobante.compNogravado }}</td>
            </tr>
            <tr>
                <th>CompExento</th>
                <td>{{ comprobante.compExento }}</td>
            </tr>
            <tr>
                <th>CompPerciva</th>
                <td>{{ comprobante.compPerciva }}</td>
            </tr> #}
        </tbody>
    </table>
    <hr>




<table class="table">
        <thead>
            <tr>
                
                <th>Concepto</th>
              
              
                <th>Obsevacion</th>
              <th>Importe</th>
            </tr>
        </thead>
        <tbody>
        {% for detacomp_rec in detacomp_recs %}
            <tr>
                
                <td>{{ detacomp_rec.decoConcepto }}</td>
                
                
                <td>{{ detacomp_rec.decoObse }}</td>
                <td>$ {{ detacomp_rec.importe | number_format(2) }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {# <a href="{{ path('comprobante_index') }}">back to list</a> #}

    {# <a href="{{ path('comprobante_edit', {'id': comprobante.id}) }}">edit</a> #}

    {# {{ include('comprobante/_delete_form.html.twig') }} #}
{% endblock %}
