<form method="post" action="{{ path('cheques3ros_delete', {'id': cheques3ro.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cheques3ro.id) }}">
    <button class="btn">Delete</button>
</form>
