{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
   <script >
$(document).ready(function() {
    $('#cheques3ros_localidad').select2();
    $('#cheques3ros_banco').select2();
    document.getElementById('cheques3ros_estado').value = '1';
    document.getElementById('cheques3ros_destino').value = '8';
    document.getElementById('cheques3ros_importe').value = '0.00';
    // $('#cheques3ros_importe').val('0.00');
});
// $(document).ready(function () {
//         document.getElementById('persona_condicionDeIva').value = '5';
//         document.getElementById('persona_tipoDoc').value = '35';
//         //document.getElementById('persona_zona').value = '1';
//         document.getElementById('persona_localidad').value = '26317';
//         // $('#persona_localidad').hide();
//     });

$("#cheques3ros_importe").keydown(function (e) { // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [
                        46,
                        8,
                        9,
                        27,
                        13,
                        110,
                        190
                    ]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                        (e.keyCode >= 35 && e.keyCode <= 40)) { // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });
</script>

<script>$(function () { // fecha de datepicker por defecto le paso la de hoy
    $('#cheques3ros_fechaDeCobro').datepicker();
    $('#cheques3ros_fechaDeCobro').datepicker("option", "dateFormat", 'yy-mm-dd');
    $('#cheques3ros_fechaDeCobro').datepicker('setDate', new Date());

    $('#cheques3ros_fechaDeEmision').datepicker();
    $('#cheques3ros_fechaDeEmision').datepicker("option", "dateFormat", 'yy-mm-dd');
    $('#cheques3ros_fechaDeEmision').datepicker('setDate', new Date());

    $('#cheques3ros_fechaDeRecibido').datepicker();
    $('#cheques3ros_fechaDeRecibido').datepicker("option", "dateFormat", 'yy-mm-dd');
    $('#cheques3ros_fechaDeRecibido').datepicker('setDate', new Date());

    
});
  </script>