{% extends 'base.html.twig' %}

{% block title %}Edit Cheques3ros{% endblock %}

{% block body %}
    <h1>Editar Cheques Tercero</h1>

    {# {{ include('cheques3ros/_form.html.twig', {'button_label': 'Actualizar'}) }} #}
   <form name="formulario"  method="post" >
 	<input type="string" class="form-control" name="id" id="id" value="{{cheques3ro.id}}">
  <div class="form-group">
    <label for="salida">Fecha de Salida</label>
    <input type="string" class="form-control"  name="salida" id="salida" value="{{cheques3ro.fechaDeSalida}}">
  </div>
  <div class="form-group">
    <label for="eestado">Estado</label>
    <select class="form-control" id="estado" name="estado" >
    	{% for chqestado in chqestados %}
          
               
              <option {% if chqestado.id == cheques3ro.estado.id %} selected="selected"{% endif %}  value=" {{ chqestado.id }}"> {{ chqestado.descripcion }}</option>
        {% endfor %}
       
     
    </select>
  </div>
  <div class="form-group">
    <label for="destino">Destino</label>
     <select class="form-control" id="destino" name="destino" >
     {% for chqdestino in chqdestinos %}
          
               
              <option {% if chqdestino.id == cheques3ro.destino.id %} selected="selected"{% endif %} value=" {{ chqdestino.id }}"> {{ chqdestino.descripcion }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="observ">Observaciones</label>
    <textarea type="textarea" class="form-control" id="observ" rows="2"  name="observ"></textarea>
  </div>
  <td>                    
  	<div class="btn-group">

    <button  type="submit" value="submit" class="btn btn-success"   role="button">Actualizar</button>

    </div>
              
</form>
    <br>

    <a class="btn btn-primary" href="{{ path('cheques3ros_index') }}">Volver</a>

    {# {{ include('cheques3ros/_delete_form.html.twig') }} #}


    <script>
    $(function () { // fecha de datepicker por defecto le paso la de hoy
    $('#salida').datepicker();
    $('#salida').datepicker("option", "dateFormat", 'yy-mm-dd');
    $('#salida').datepicker('setDate', '{{cheques3ro.fechaDeSalida}}');
	document.getElementById("observ").value = '{{cheques3ro.observaciones}} ';
		});
  </script>
{% endblock %}
