{% extends 'base.html.twig' %}

{% block title %}Cheques3ros index{% endblock %}

{% block body %}
    <h1>Cheques Terceros</h1>
     <a class="btn btn-outline-primary" href="{{ path('cheques3ros_new') }}">Crear Nuevo</a>
     <br>
     <br>

    <table class="table table-striped display dt-responsive " id="data">
        <thead>
            <tr>
                {# <th>Id</th> #}
                 <th>Banco</th>
                <th>Numero</th>
               
                {# <th>CuitDelTitular</th> #}
                <th>Importe</th>
                <th>Fecha De Cobro</th>
                {# <th>FechaDeEmision</th> #}
                {# <th>FechaDeRecibido</th> #}
                {# <th>ChqdId</th> #}
                {# <th>FechaDeSalida</th> #}
                <th>Estado</th>
                <th>Destino</th>
                {# <th>Observaciones</th> #}
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for cheques3ro in cheques3ros %}
            <tr>
                <td>{{ cheques3ro.banco }}</td>
                <td>{{ cheques3ro.numero }}</td>
               {#  <td>{{ cheques3ro.titular }}</td>
                <td>{{ cheques3ro.cuitDelTitular }}</td> #}
                <td>$ {{ cheques3ro.importe }}</td>
                <td>{{ cheques3ro.fechaDeCobro }}</td>
              {#   <td>{{ cheques3ro.fechaDeEmision }}</td>
                <td>{{ cheques3ro.fechaDeRecibido }}</td> #}
              {#   <td>{{ cheques3ro.chqdId }}</td>
                <td>{{ cheques3ro.fechaDeSalida }}</td> #}
                <td>{{ cheques3ro.estado }}</td>
                <td>{{ cheques3ro.destino }}</td>
                {# <td>{{ cheques3ro.observaciones }}</td> #}
                <td>
                    <a class="btn btn-primary" href="{{ path('cheques3ros_show', {'id': cheques3ro.id}) }}">Ver</a>
                    <a  class="btn btn-success" href="{{ path('cheques3ros_edit', {'id': cheques3ro.id}) }}">Actualizar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
         <tfoot>
         
                <tr>
                {# <th>Id</th> #}
                 <th></th>
                <th></th>
               
                {# <th>CuitDelTitular</th> #}
                <th></th>
                <th></th>
                {# <th>FechaDeEmision</th> #}
                {# <th>FechaDeRecibido</th> #}
                {# <th>ChqdId</th> #}
                {# <th>FechaDeSalida</th> #}
                <th></th>
                <th></th>
                {# <th>Observaciones</th> #}
                <th>#</th>
            </tr>
          
       
        </tfoot>
    </table>
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        },
            "order": [
                [3, "Asc"]
            ],
            // "columnDefs": [
            //     {
            //         "targets": [0],
            //         "visible": false,
            //         "searchable": false

            //     } ,
            //         {
            //           "targets": [4 ,2,6],
            //            "visible": true,
            //           "searchable": false
            //        }
            //        ,
            //         {
            //           "targets": [1,3,5 ],
            //            "visible": true,
            //           "searchable": true
            //        }
            // ],
            responsive: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }

        });
    });

    $(document).ready(function() {
       

       var t1 =   $('#table2').DataTable({
         dom: 'Bfrtip',
        buttons: [
        {
            title: 'Resumen',
            extend: 'print',
            text: 'Imprimir',
          autoPrint: true,
            exportOptions: {
                columns: ':visible',
            },
            customize: function (win) {
                $(win.document.body).find('table').addClass('display').css('font-size', '16px');
                $(win.document.body).find('tr:nth-child(odd) td').each(function(index){
                    $(this).css('background-color','#D0D0D0');
                });
                $(win.document.body).find('h1').css('text-align','center');
            }
        
        },
       {
            title: 'Resumen',
            extend: 'pdfHtml5',
            text: 'PDF',
            orientation : 'portrait',
            pageSize : 'A4',
            exportOptions: {
                modifier: {
                    page: 'current'
                }
            }
        }
        ],"lengthMenu": [
                            [
                                -1
                            ],
                            [
                                "Todos"
                            ]
                        ],
         "searching": false,
            // "order": [
            //     [3, "asc"]
            // ],
            // "columnDefs": [
            //     {
            //         "targets": [0],
            //         "visible": false,
            //         "searchable": false

            //     } ,
            //         {
            //           "targets": [ 2,4,5 ],
            //            "visible": true,
            //           "searchable": false
            //        }
            // ],
            responsive: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
    //         ,
    //         drawCallback: function () {
    //   var api = this.api();
    //   $( api.table().footer() ).html(
    //     api.column( 7, {page:'current'} ).data().sum()
    //   );
    // }
        });

          
        // $('#ac').click( function () {
        //     var total2 = t1.column( 1 ).data().sum();
        //     var total3 = t1.column( 2 ).data().sum();
        //     var total4 = total2 - total3;

        //     Swal.fire('Contado Total : $'+total4.toFixed(2))
        
        // } );
  
                    
                     // window.alert( total);
            //      $('#total2').val(total.toFixed(2));
                       
                      
                

    });

</script>
   
{% endblock %}
