{% extends 'base.html.twig' %}

{% block title %}Cheque de  Tercero{% endblock %}

{% block body %}
    <h1>Crear Nuevo Cheque</h1>

    {{ include('cheques3ros/_form.html.twig') }}
<br>
    <a class="btn btn-primary" href="{{ path('cheques3ros_index') }}">Volver</a>


{% endblock %}
