{% extends 'base.html.twig' %}

{% block title %}Cheques3ros{% endblock %}

{% block body %}
    <h1>Cheques terceros</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cheques3ro.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ cheques3ro.numero }}</td>
            </tr>
            <tr>
                <th>Titular</th>
                <td>{{ cheques3ro.titular }}</td>
            </tr>
            <tr>
                <th>Cuit Del Titular</th>
                <td>{{ cheques3ro.cuitDelTitular }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>$ {{ cheques3ro.importe }}</td>
            </tr>
            <tr>
                <th>Fecha De Cobro</th>
                <td>{{ cheques3ro.fechaDeCobro }}</td>
            </tr>
            <tr>
                <th>Fecha De Emision</th>
                <td>{{ cheques3ro.fechaDeEmision }}</td>
            </tr>
            <tr>
                <th>Fecha De Recibido</th>
                <td>{{ cheques3ro.fechaDeRecibido }}</td>
            </tr>
              <tr>
                <th>Estado</th>
                <td>{{ cheques3ro.estado }}</td>
            </tr>
            <tr>
                <th>Destino</th>
                <td>{{ cheques3ro.destino }}</td>
            </tr>
            <tr>
                <th>Fecha De Salida</th>
                <td>{{ cheques3ro.fechaDeSalida }}</td>
            </tr>
          
            <tr>
                <th>Persona de Quien Lo Recibo</th>
                <td>{{ cheques3ro.personaDescripcion }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ cheques3ro.observaciones }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('cheques3ros_index') }}">Volver</a>

    <a class="btn btn-primary" href="{{ path('cheques3ros_edit', {'id': cheques3ro.id}) }}">Actualizar</a>

    {# {{ include('cheques3ros/_delete_form.html.twig') }} #}
{% endblock %}
