{% extends 'base.html.twig' %}

{% block title %}Articulo index{% endblock %}

{% block body %}
    <h1>Articulo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ArtiCodigoOriginal</th>
                <th>ArtiCodigoAlternativo</th>
                <th>ArtiCodigoPropio</th>
                <th>ArtiCbarra</th>
                <th>RubrId</th>
                <th>SrubId</th>
                <th>ArtiNombre</th>
                <th>ArtiDescri</th>
                <th>UnidId</th>
                <th>ArtiStock</th>
                <th>ArtiStockmin</th>
                <th>ArtiPvp</th>
                <th>ArtiFechapvp</th>
                <th>ArtiPreciocosto</th>
                <th>ArtiFechapcosto</th>
                <th>ProveeId</th>
                <th>AivaId</th>
                <th>MonedaId</th>
                <th>ArtiUbicacion</th>
                <th>ArtiObservaciones</th>
                <th>ArtiImagenblob</th>
                <th>ArtiMargen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.id }}</td>
                <td>{{ articulo.artiCodigoOriginal }}</td>
                <td>{{ articulo.artiCodigoAlternativo }}</td>
                <td>{{ articulo.artiCodigoPropio }}</td>
                <td>{{ articulo.artiCbarra }}</td>
                <td>{{ articulo.rubrId }}</td>
                <td>{{ articulo.srubId }}</td>
                <td>{{ articulo.artiNombre }}</td>
                <td>{{ articulo.artiDescri }}</td>
                <td>{{ articulo.unidId }}</td>
                <td>{{ articulo.artiStock }}</td>
                <td>{{ articulo.artiStockmin }}</td>
                <td>{{ articulo.artiPvp }}</td>
                <td>{{ articulo.artiFechapvp ? articulo.artiFechapvp|date('Y-m-d') : '' }}</td>
                <td>{{ articulo.artiPreciocosto }}</td>
                <td>{{ articulo.artiFechapcosto ? articulo.artiFechapcosto|date('Y-m-d') : '' }}</td>
                <td>{{ articulo.proveeId }}</td>
                <td>{{ articulo.aivaId }}</td>
                <td>{{ articulo.monedaId }}</td>
                <td>{{ articulo.artiUbicacion }}</td>
                <td>{{ articulo.artiObservaciones }}</td>
                <td>{{ articulo.artiImagenblob }}</td>
                <td>{{ articulo.artiMargen }}</td>
                <td>
                    <a href="{{ path('articulo_show', {'id': articulo.id}) }}">show</a>
                    <a href="{{ path('articulo_edit', {'id': articulo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="24">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('articulo_new') }}">Create new</a>
{% endblock %}
