{% extends 'base.html.twig' %}

{% block title %}Articulo{% endblock %}

{% block body %}
    <h1>Articulo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ articulo.id }}</td>
            </tr>
            <tr>
                <th>ArtiCodigoOriginal</th>
                <td>{{ articulo.artiCodigoOriginal }}</td>
            </tr>
            <tr>
                <th>ArtiCodigoAlternativo</th>
                <td>{{ articulo.artiCodigoAlternativo }}</td>
            </tr>
            <tr>
                <th>ArtiCodigoPropio</th>
                <td>{{ articulo.artiCodigoPropio }}</td>
            </tr>
            <tr>
                <th>ArtiCbarra</th>
                <td>{{ articulo.artiCbarra }}</td>
            </tr>
            <tr>
                <th>RubrId</th>
                <td>{{ articulo.rubrId }}</td>
            </tr>
            <tr>
                <th>SrubId</th>
                <td>{{ articulo.srubId }}</td>
            </tr>
            <tr>
                <th>ArtiNombre</th>
                <td>{{ articulo.artiNombre }}</td>
            </tr>
            <tr>
                <th>ArtiDescri</th>
                <td>{{ articulo.artiDescri }}</td>
            </tr>
            <tr>
                <th>UnidId</th>
                <td>{{ articulo.unidId }}</td>
            </tr>
            <tr>
                <th>ArtiStock</th>
                <td>{{ articulo.artiStock }}</td>
            </tr>
            <tr>
                <th>ArtiStockmin</th>
                <td>{{ articulo.artiStockmin }}</td>
            </tr>
            <tr>
                <th>ArtiPvp</th>
                <td>{{ articulo.artiPvp }}</td>
            </tr>
            <tr>
                <th>ArtiFechapvp</th>
                <td>{{ articulo.artiFechapvp ? articulo.artiFechapvp|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ArtiPreciocosto</th>
                <td>{{ articulo.artiPreciocosto }}</td>
            </tr>
            <tr>
                <th>ArtiFechapcosto</th>
                <td>{{ articulo.artiFechapcosto ? articulo.artiFechapcosto|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ProveeId</th>
                <td>{{ articulo.proveeId }}</td>
            </tr>
            <tr>
                <th>AivaId</th>
                <td>{{ articulo.aivaId }}</td>
            </tr>
            <tr>
                <th>MonedaId</th>
                <td>{{ articulo.monedaId }}</td>
            </tr>
            <tr>
                <th>ArtiUbicacion</th>
                <td>{{ articulo.artiUbicacion }}</td>
            </tr>
            <tr>
                <th>ArtiObservaciones</th>
                <td>{{ articulo.artiObservaciones }}</td>
            </tr>
            <tr>
                <th>ArtiImagenblob</th>
                <td>{{ articulo.artiImagenblob }}</td>
            </tr>
            <tr>
                <th>ArtiMargen</th>
                <td>{{ articulo.artiMargen }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('articulo_index') }}">back to list</a>

    <a href="{{ path('articulo_edit', {'id': articulo.id}) }}">edit</a>

    {{ include('articulo/_delete_form.html.twig') }}
{% endblock %}
